@use "../util" as u;

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  // outline: .5px grey solid;
}

a, a:visited, a:active {
  text-decoration: none;
}

body {
  font-family: var(--general-font);
  background-color: var(--color-bg);
  width: min(100%, 1440px);
  margin: 0 auto;
  // padding: .8rem;
}

// :is(header,  .web-page-content, footer) {
//   width: min(100% - 1rem, 1440px);
// }

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s ease-in;
}

.show {
  opacity: 1;
  transform: translateX(0);
}