@use "../util" as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  // outline: .5px grey solid;
}

a, a:visited, a:active {
  text-decoration: none;
}

body {
  font-family: var(--general-font);
  background-color: var(--color-bg);
  padding: .8rem;
}