:root {
  // --color-bg: hsl(350, 47%, 80%);
  --color-bg: #FABE64;
  --color-main: hsl(36, 100%, 99%);
  --Black-ish: hsl(0, 0%, 8%);
  //--color-test: #a6a489;
  --color-bg-elem: hsl(36, 33%, 41%);
  --color-bg-skills: #FFCC80;
}