@use "../util" as u;

header {
  nav {
    li {
      border: 3px var(--Black-ish) solid;
      text-align: center;
      transition: all .17s linear;
      a {
        font-family: var(--general-font);
        color: var(--Black-ish);
        font-size: 1.5rem;
        font-weight: 700;
        padding: .5rem;
        border: 4px transparent solid;
        
      }
      @include u.breakpoint(medium){
        border: none;
      }
      &:is(:hover, :active){
        border: 4px var(--Black-ish) solid;
        box-shadow: 5px 2px 0 var(--Black-ish);
        transform: translateX(-3px);
      }
    }
  }
}

.intro-cont {

  &__header{
    font-size: 2.5rem;

    @include u.breakpoint(medium){
      font-size: 5rem;
    }
  }

  &__phrase {
    font-size: 1.5rem;
    color: grey;
    line-height: 35px;
  }

  .mail-anchor {
    position: relative;
    color: white;
    background-color: var(--Black-ish);
    font-size: 1.2rem;
    padding: 4px;
    margin-bottom: 1rem;
    // transform: perspective(7000px) rotate(55deg);
    transition: all .23s linear;
    

    // &::after {
    //   content: "";
    //   position: absolute;
    //   inset: -5px;
    //   background: linear-gradient(25deg, hsl(120, 85%, 33%), hsl(120, 100%, 86%));
    //   // transform: translateZ(-25px);
    //   z-index: -1;
    //   box-shadow: 0 0 16px lightgreen;
    // }

    &:is(:hover, :active) {
      box-shadow: 0 0 16px hsl(120, 96%, 41%);
      color: hsl(120, 96%, 41%);
    }

  }
  .nan-btn {
    font-size: 1.1rem;
    font-weight: bold;
    color: hsl(0, 0%, 64%);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: hsl(0, 0%, 7%);
    }
  }
  
  
}

.q-links {
 text-align: start;
 cursor: pointer;
 font-size: 1.1rem;
 font-weight: bold;
 letter-spacing: 3px;
 transform: perspective(7000px);
 transform-style: preserve-3d;
 transition: all .20s linear;

 &:is(:hover, :active){
  transform: rotateX(8deg) rotateY(8deg) translateX(-3px);
  box-shadow: 3px 3px 0 var(--Black-ish);
 }
}

.skills-container {
  &__section {
    h3 {
      font-size: 2rem;
      color: var(--Black-ish);
    }

    p{
      font-size: 1.1rem;

      @include u.breakpoint-down(small){
        font-size: 1.2rem;
        text-align: justify;
      }
    }
  }
}

h2.projects-title {
  text-align: center;
  font-size: 3.5rem;
}

.project-container__links {
  a {
    padding: 6px;
    background-color: transparent;
    color: var(--Black-ish);
    padding: 3px;
    border: var(--Black-ish) 3px solid;
    transition: all .20s linear;
    &:is(:hover, :active){
      //color: white;
      //background-color: var(--Black-ish);
      border: 3px var(--Black-ish) solid;
      box-shadow: 3px 3px 0 var(--Black-ish);
      transform: translateY(6px);
    } 
  }
}


