@use "../util" as u;

header {
  nav {
    li {
      // border: 3px var(--Black-ish) solid;
      padding: .5rem;
      position: relative;
      border: 4px transparent solid; 
      transition: all .24s linear;
      a {
        text-align: center;
        font-family: var(--general-font);
        color: var(--Black-ish);
        font-size: 1.1rem;
        font-weight: 700;
      }
      &:is(:hover, :active){
        border: 4px var(--Black-ish) solid;
        box-shadow: 2px 3px 0 var(--Black-ish);
        transform: translate(-3px, -3px);
      }
    }
  }
}

.intro-cont {

  &__header{
    // line-height: 75px;
    font-size: clamp(20px, 16px + 4.5vw, 28px);
    text-align: center;
    width: 100%;

    @include u.breakpoint(medium){
      font-size: 4.8em;
      text-align: left;
    }
  }

  &__phrase {
    // width: 100%;
    font-size: 1.1rem;
    color: grey;
    text-align: center;

    @include u.breakpoint(medium){
      text-align: left;
      font-size: 1.5rem;
    }
  }

  .mail-anchor {
    position: relative;
    color: white;
    background-color: var(--Black-ish);
    font-size: 1.1rem;
    padding: 4px;
    // transform: perspective(7000px) rotate(55deg);
    transition: all .5s linear;
    

    // &::after {
    //   content: "";
    //   position: absolute;
    //   inset: -5px;
    //   background: linear-gradient(25deg, hsl(120, 85%, 33%), hsl(120, 100%, 86%));
    //   // transform: translateZ(-25px);
    //   z-index: -1;
    //   box-shadow: 0 0 16px lightgreen;
    // }

    &:is(:hover, :active) {
      transform: translateY(-.5rem);
      transition: all .20s linear;
      box-shadow: 0 0 16px hsl(120, 96%, 41%);
      color: hsl(120, 96%, 41%);
    }

  }
  .nan-btn {
    font-size: 1.1rem;
    font-weight: bold;
    color: hsl(0, 0%, 64%);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: hsl(0, 0%, 7%);
    }
  }
  
  
}

.q-links {
 text-align: start;
 cursor: pointer;
 font-size: 1.1rem;
 font-weight: bold;
 letter-spacing: 3px;
 transform: perspective(7000px);
 transform-style: preserve-3d;
 transition: all .20s linear;

 &:is(:hover, :active){
  transform: rotateX(8deg) rotateY(8deg) translateX(-3px);
  box-shadow: 3px 3px 0 var(--Black-ish);
 }
}

.title-skills {
  margin-top: 2rem;
  // text-align: center;
  gap: .5rem;
  
  span {
    font-size: 1rem;
  }

  h2 {
    text-transform: uppercase;
    font-size: 2rem;
  }
}

.skills-container {

  &__section {
    h3 {
      font-size: 2rem;
      color: hsl(0, 25%, 95%);
    }

    p{
      font-size: 1rem;
      @include u.breakpoint-down(small){
        text-align: justify;
      }
    }

    a {
      font-weight: bold;
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.about-me {
  h2 {
    // text-align: center;
    font-size: 2rem;
  }

  p{
    font-size: 1.3rem;
  }
}

h2.projects-title {
  text-align: center;
  font-size: 3.5rem;
}

.project-container__links {
  a {
    padding: 6px;
    background-color: transparent;
    color: var(--Black-ish);
    padding: 3px;
    border: var(--Black-ish) 3px solid;
    transition: all .20s linear;
    &:is(:hover, :active){
      //color: white;
      //background-color: var(--Black-ish);
      border: 3px var(--Black-ish) solid;
      box-shadow: 3px 3px 0 var(--Black-ish);
      transform: translateY(6px);
    } 
  }
}

.contact {
  h2 {
    font-size: 2.4rem;
    text-transform: uppercase;
  }
  .container-form {
    &__quote {
      p {
        font-size: 1.2rem;
      }

      div {

        font-size: 1.2rem;

        span {
          color: grey;
        }
        a {
          color: var(--Black-ish);
          text-decoration: underline;
        }
      }
    }
  }
}


