---
// import Layouts
import MainLayout from '../Layout/MainLayout.astro';

// import components
import Cover from '../Components/Cover.astro';
import QuickLinks from '../Components/Quick-links.astro';

// import data
import aboutMe from '../Data/aboutMeData';
---

<MainLayout subtitle="About">
  <Cover
    coverTitle="About me"
    description="Aqui podras conocerme un poco mas, mi trabajo, mis habilidades y algunas de mis aficiones."
    coverImage="/images/hero-images/about-hero.PNG"
  />
  <QuickLinks />
  <section id="about" class="section-about">
    <article class="section-about__article">
      {aboutMe.map((p) => <p>{p.para}</p>)}
    </article>
    <div class="section-about__div">
      <article class="section-about__article">
        <h3 class="section-about__h3">Tecnologias</h3>
        <p>
          Como desarrollador de paginas y aplicaiones web, puedo decir que
          domino los lenguajes fundamentales HTML, CSS y JavaScript. Tambien
          tengo entendimiento basico de PHP y MySQL.
        </p>
        <p>
          Tambien domino las herramientas para que mi trabajo sea mas rapido,
          efectivo y eficaz. Herramientas como git, npm, Gulp, NodeJS, ViteJS y
          nvx.
        </p>
        <p>
          Actualmente me encuentro desarrollando las mayoria de mis proyectos
          utilizando la libreria de ReactJS y con la ayuda de frameworks como
          NextJS y Astro.
        </p>
      </article>
      <article class="section-about__article">
        <h3 class="section-about__h3">Objetivos</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eos
          nemo quia est ex pariatur accusantium ipsam doloremque optio, porro
          architecto praesentium eius consectetur, iure placeat, dolor magnam.
          Amet, dolores!
        </p>
      </article>
    </div>
  </section>
</MainLayout>
