---
// import Layouts
import MainLayout from '../Layout/MainLayout.astro';

// import components
import Cover from '../Components/Cover.astro';
import DivisionHr from '../Components/DivisionHr.astro';

// import data
import aboutMe from '../Data/aboutMeData';
---

<MainLayout subtitle="About">
  <Cover
    coverTitle="Yefree Valdez"
    description="Conoce un poco mas sobre mi, experiencia, habilidades y aficiones. Quien soy dentro y fuera del desarollo web."
    buttonsYes={false}
  >
    <img
      class="w-[80%] rounded-full border-[3px] border-black aspect-square object-cover mb-4 shadow-3xl shadow-black"
      src="/images/hero-images/Subject.jpg"
      alt="Personal foto."
    />
  </Cover>

  <section id="about" class="section-about">
    <article class="section-about__article">
      {aboutMe.map((p) => <p>{p.para}</p>)}
    </article>
    <div class="section-about__div">
      <article class="section-about__article">
        <h2 class="section-about__h3">Tecnologias</h2>
        <p>
          Como desarrollador de paginas y aplicaiones web, puedo decir que
          trabajo continuamente los lenguajes fundamentales HTML, CSS y
          JavaScript. Tambien tengo entendimiento basico de PHP y, cracion,
          administracion y modificacion de bases de datos MySQL.
        </p>
        <p>
          Las herramientas que uilizo para que mi trabajo sea mas rapido,
          efectivo y eficaz, que me ayudadan a colaborar en equipo. Herramientas
          como git, npm, Gulp, NodeJS, ViteJS y nvx.
        </p>
        <p>
          Actualmente me encuentro desarrollando las mayoria de mis proyectos
          utilizando la libreria de ReactJS y con la ayuda de frameworks como
          NextJS y Astro.
        </p>
      </article>
      <article class="section-about__article">
        <h2 class="section-about__h3">Objetivos</h2>
        <p>
          Mis metas las tengo bastante claras. Poder dedicarme de manera
          profesional a la creacion de software para agragar valor a la vida de
          las personas. Poder formar parte de un equipo, un grupo o un
          movimiento creo que es algo que me llenaria bastante.
        </p>
      </article>
    </div>
  </section>
  <DivisionHr bottomText={false} />
  <Cover
    coverTitle="¿Como puedo ayudarte?"
    description="Gracias a mis habilidades y conocimientos recién adquiridos para ayudar a las empresas a alcanzar sus metas y ofrecer experiencias en línea excepcionales. A través de mi formación académica y pasión por el desarrollo web, estoy listo para aportar valor a tu empresa y contribuir a su éxito en el mundo digital."
  >
    <ul class="flex flex-col gap-8">
      <li class="flex items-start gap-4">
        <img
          class="w-[5rem] aspect-square object-cover"
          src="/images/hero-images/web-dev-bg.avif"
          alt=""
        />
        <div>
          <h4 class="text-md">
            Desarrollo de sitios web funcionales y atractivos
          </h4>
          <p class="text-sm">
            Como desarrollador front-end, puedo crear sitios web que no solo
            sean visualmente atractivos, sino también funcionales y fáciles de
            usar. Utilizo las últimas tecnologías y prácticas recomendadas para
            garantizar una experiencia de usuario óptima y una navegación
            intuitiva.
          </p>
        </div>
      </li>
      <li class="flex items-start gap-4">
        <img
          class="w-[5rem] aspect-square object-cover"
          src="/images/icons/performance.avif"
          alt=""
        />
        <div>
          <h4 class="text-md">Optimización de rendimiento y velocidad</h4>
          <p class="text-sm">
            La velocidad de carga y el rendimiento son aspectos clave para el
            éxito de un sitio web. Implemento prácticas de optimización de
            código y utilizo herramientas para maximizar la velocidad y el
            rendimiento de los sitios web, lo que mejora la experiencia del
            usuario y ayuda a retener a los visitantes.
          </p>
        </div>
      </li>
      <li class="flex items-start gap-4">
        <img
          class="w-[5rem] aspect-square object-cover"
          src="/images/icons/team-work.avif"
          alt=""
        />
        <div>
          <h4 class="text-md">Colaboración y comunicación efectiva:</h4>
          <p class="text-sm">
            Valoro la colaboración y la comunicación efectiva con los miembros
            del equipo y los interesados en el proyecto. Estoy dispuesto a
            escuchar y comprender los requisitos y objetivos específicos de la
            empresa para entregar soluciones alineadas con las expectativas y el
            enfoque del negocio.
          </p>
        </div>
      </li>
      <li class="flex items-start gap-4">
        <img
          class="w-[5rem] aspect-square object-cover"
          src="/images/icons/test.avif"
          alt=""
        />
        <div>
          <h4 class="text-md">Aprendizaje y mejora continua:</h4>
          <p class="text-sm">
            Como recién graduado, tengo una mentalidad de aprendizaje constante
            y estoy entusiasmado por mantenerme actualizado con las últimas
            tendencias y tecnologías en el campo del desarrollo web. Siempre
            estoy dispuesto a adquirir nuevas habilidades y conocimientos para
            proporcionar soluciones innovadoras y eficientes.
          </p>
        </div>
      </li>
    </ul>
  </Cover>
</MainLayout>

<style lang="scss">
  .section-about,
  .section-about__article,
  .section-about__div {
    display: grid;
    gap: 1rem;
  }

  .section-about {
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    color: var(--clr-text-1);
    padding: 0 5vw;
    margin: 8vh 0;
  }

  .section-about__article {
    padding: 2rem;
    outline: 2px solid var(--clr-border-2);
    background-color: var(--clr-background-2);
    position: relative;
    --distance: 6px;

    &::after,
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border: inherit;
      z-index: -1;
    }
    &::after {
      transform: translate(var(--distance), var(--distance));
      background-color: var(--clr-background-1);
    }
    &::before {
      transform: translate(
        calc(var(--distance) * 2),
        calc(var(--distance) * 2)
      );
      background-color: var(--clr-text-2);
    }
  }
</style>
