---
// import layouts
import MainLayout from '../Layout/MainLayout.astro';

// import components
import Cover from '../Components/Cover.astro';
import ContactForm from '../Components/ContactForm.astro';
import ProjectDisplay from '../Components/ProjectDisplay.astro';
import SkillsSection from '../Components/SkillsSection.astro';
import DivisionHr from '../Components/DivisionHr.astro';
import HeroIcons from '../Components/HeroIcons.astro';
---

<MainLayout subtitle="HOME">
  <Cover
    coverTitle="¡Hola mundo!"
    description="Bienvenidos a mi pequeño espacio en la web. Desarrollador web front end, diseñador UI e ilustrador. "
    coverImage="/images/hero-images/index-hero.webp"
  >
    <HeroIcons
      img="/images/hero-images/hero-icons/coding.avif"
      position="top-10 left-10"
    />
    <HeroIcons
      img="/images/hero-images/hero-icons/web-anal.avif"
      position="top-[25%] right-[10%]"
    />
    <HeroIcons
      img="/images/hero-images/hero-icons/website.avif"
      position="bottom-[10%] left-[10%]"
    />
    <img
      class="rounded-full aspect-square object-cover mb-4"
      src="/images/hero-images/index-hero.webp"
      alt="Personal foto."
    />
  </Cover>
  <!--** SKILLS section **-->
  <SkillsSection />
  <!--** PROJECTS section **-->
  <DivisionHr />
  <section
    id="projects"
    class="projects flex flex-col gap-[1rem]"
    aria-label="Proyectos"
  >
    <header class="flex flex-col gap-4 mb-[10vh]">
      <h2 class="projects__h2">
        Mis ultimos
        <span class="text-green-600">proyectos</span>
      </h2>
      <p>
        El trabajo suele hablar por sí solo, toda la experiencia que tengo esta
        aqui presente. Estos son algunos de los proyectos en los que he
        trabajado y las tecnologias que he utilizado.
      </p>
    </header>

    <!--**************-->
    <ProjectDisplay
      name="30 proyectos 30 dias"
      description="Repositorio de Github de un reto que me he propuesto a finales del mes de Julio. 30 proyectos en 30 dias, uno por dia. ¡No puedo dejar pasar ni uno solo!"
      link="https://yefreescoding.github.io/30-projects-30-days/"
      github="https://github.com/yefreescoding/30-projects-30-days.git"
      imagesrc="/images/projects-img/twitter-post-git.jpg"
      position={false}
    />
    <ProjectDisplay
      name="music-gram"
      description="Una pagina web donde poder ver los artistas del momento, sus ultimas canciones, colaboraciones y proximos consierto. Creado con ASTRO, y utilizando los fundamentos basicos de HTML, CSS y JavaScript."
      link="https://music-gram-yefreescoding.vercel.app"
      github="https://github.com/yefreescoding/music-gram.git"
      imagesrc="/images/projects-img/music-gram.webp"
    />
    <ProjectDisplay
      name="cocina con micaela"
      description="Cuando te independizas tienes que aprender muchas cosas, y una de las mas importantes es cocinar. Esta pagina web te ayuda un poco en lo que es esa parte de ser adulto. ¡Ya no mas ir a la casa de tus padres a 'robarles' cosas de la nevera!"
      link="https://micaela-kitchen.vercel.app"
      github="https://github.com/yefreescoding/micaela-kitchen.git"
      position={false}
      imagesrc="/images/projects-img/cocina-con-micaela.webp"
    />
    <ProjectDisplay
      name="Blog para desarrolladores"
      description="Un blog que utilizo para publicar algunas de mis experiencias y cositas que voy viviendo, y aprendiendo como desarrolador web."
      link="https://you-me-blog.vercel.app"
      github="https://github.com/yefreescoding/you-me-blog.git"
      imagesrc="/images/projects-img/blog.webp"
    />
  </section>
  <ContactForm />
</MainLayout>

<style lang="scss" is:global>
  .projects {
    width: min(100% - 2rem, 80em);
    margin-inline: auto;
  }
</style>
