---
// import layouts
import MainLayout from '../Layout/MainLayout.astro';

// import components
import Cover from '../Components/Cover.astro';
// import QuickLinks from '../Components/Quick-links.astro';
import ContactForm from '../Components/ContactForm.astro';
import ProjectDisplay from '../Components/ProjectDisplay.astro';

import SkillsSection from '../Components/SkillsSection.astro';
import DivisionHr from '../Components/DivisionHr.astro';
---

<MainLayout subtitle="HOME">
  <Cover
    coverTitle="¡Hola mundo!"
    description="Bienvenidos a mi pequeño espacio en la web. Desarrollador web front end, diseñador UI e ilustrador. "
    coverImage="/images/hero-images/index-hero.webp"
  />
  <!-- <QuickLinks /> -->
  <!--** SKILLS section **-->
  <SkillsSection />
  <!--** PROJECTS section **-->
  <DivisionHr />
  <section
    id="projects"
    class="projects flex flex-col gap-[1rem]"
    aria-label="Proyectos"
  >
    <header class="flex flex-col gap-4 mb-[10vh]">
      <h2 class="projects__h2">
        Mis ultimos
        <span class="text-green-400">proyectos</span>
      </h2>
      <p>
        El trabajo suele hablar por sí solo, toda la experiencia que tengo esta
        aqui presente. Estos son algunos de los proyectos en los que he
        trabajado y las tecnologias que he utilizado.
      </p>
    </header>

    <!--**************-->
    <ProjectDisplay
      name="music-gram"
      description="Este es un proyecto inspirado por mi pasion por la musica, y las ganas de tener una pequeña biblioteca donde poder estar al tanto de mis artistas favoritos."
      link="https://music-gram-yefreescoding.vercel.app"
      github="https://github.com/yefreescoding/music-gram.git"
      imagesrc="/images/projects-img/music-gram.webp"
    />
    <ProjectDisplay
      name="cocina con micaela"
      description="Cuando te independizas tienes que aprender muchas cosas, y una de las mas importantes es cocinar. Esta pagina web te ayuda un poco en lo que es esa parte de ser adulto. ¡Ya no mas ir a la cas de tus padres a 'robarles' cosas de la nevera!"
      link="https://micaela-kitchen.vercel.app"
      github="https://github.com/yefreescoding/micaela-kitchen.git"
      position={false}
      imagesrc="/images/projects-img/cocina-con-micaela.webp"
    />
    <ProjectDisplay
      name="Blog para desarrolladores"
      description="Un blog que utilizo para publicar algunas de mis experiencias y cositas que voy viviendo, y aprendiendo como desarrolador web."
      link="https://you-me-blog.vercel.app"
      github="https://github.com/yefreescoding/you-me-blog.git"
      imagesrc="/images/projects-img/blog.webp"
    />
  </section>
  <ContactForm />
</MainLayout>

<style lang="scss" is:global>
  .projects {
    width: min(100% - 2rem, 80em);
    margin-inline: auto;
  }
</style>
