---
// import layouts
import MainLayout from "../Layout/MainLayout.astro";

// import components
import Cover from "../Components/Cover.astro";
import QuickLinks from "../Components/Quick-links.astro";
import ContactForm from "../Components/ContactForm.astro";

// import data
import skills from "../Data/skillsData";
---

<MainLayout title="Yefree Valdez">
  <Cover
    coverTitle="{ Hola Mundo };"
    description="Desarrollador front end, diseñador e ilustrador."
    coverImage="/images/hero-images/hero-cover.PNG"
  />
  <QuickLinks />
  <!--** SKILLS section **-->
  <section id="skills" class="section-skills">
    <header class="section-skills__header">
      <p class="section-skills__quote">
        "Good design is like a refrigerator—when it works, no one notices, but
        when it doesn't, it sure stinks." - Irene Au
      </p>
      <h2 class="section-skills__h2">skills</h2>
    </header>
    <div class="section-skills__container">
      <div class="section-skills__text">
        <h3>Front end developer asjfhkaasda</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
          architecto dolores accusamus tempora id maiores, dolor dicta error
          quisquam. Quasi dignissimos nemo nisi molestiae, aliquid corporis
          blanditiis laborum reprehenderit quae.
        </p>
      </div>
      <div class="section-skills__skills">
        {
          skills.map((skill) => (
            <article class="section-skills__article">
              <img
                class="section-skills__image"
                src={skill.image}
                alt="HTML icon logo"
              />
              <h3 class="section-skills__h3">{skill.name}</h3>
              <a class="section-skills__link" href={skill.link} target="_blank">
                Live Site
              </a>
            </article>
          ))
        }
      </div>
    </div>
    <div class="title-skills">
      <h2>&lt;SKILLS/&gt;</h2>
    </div>
  </section>
  <!--** PROJECTS section **-->
  <h2 id="projects" class="projects-title">FEATURED PROJECTS</h2>
  <section class="projects-sect grid">
    <!--**************-->
    <div class="project-container flex">
      <!--** HEADER of the container **-->
      <div class="project-container__header flex">
        <div class="close-open flex">
          <img src="resources/icons/new-moon.png" alt="X" />
          <img src="resources/icons/dry-clean.png" alt="O" />
        </div>
        <h4>Landing Page</h4>
      </div>
      <!--** IMAGE of the container **-->
      <img
        class="project-container__img"
        src="resources/images/projects-img/landing-page-leana-deeb.png"
        alt="Project screenshot"
      />
      <!--** INFORMATION of the container **-->
      <div class="project-container__info flex">
        <h3>Influencer Landing Page.</h3>
        <p>
          This a landing page I made as a project to learn the basics of web
          responsive design, use of different medias such as images and videos.
        </p>
      </div>
      <!--** LINK of the container **-->
      <div class="project-container__links">
        <a
          href="https://github.com/yefreescoding/Redesign-web-page.git"
          target="_blank">Git Repo</a
        >
        <a href="https://redesign-web-page.vercel.app/" target="_blank"
          >Live Site</a
        >
      </div>
    </div>
    <!--**************-->
    <div class="project-container flex">
      <!--** HEADER of the container **-->
      <div class="project-container__header flex">
        <div class="close-open flex">
          <img src="resources/icons/new-moon.png" alt="X" />
          <img src="resources/icons/dry-clean.png" alt="O" />
        </div>
        <h4>Web Blog</h4>
      </div>
      <!--** IMAGE of the container **-->
      <img
        class="project-container__img"
        src="resources/images/projects-img/project-img-blog.png"
        alt="Project screenshot"
      />
      <!--** INFORMATION of the container **-->
      <div class="project-container__info flex">
        <h3>Personal blog.</h3>
        <p>
          Esta es una pagina web que hice para tener mi propio blog, en el que
          yo tenga el control maximo. Sin duda una gran prueba para practicar.
        </p>
      </div>
      <!--** LINK of the container **-->
      <div class="project-container__links">
        <a
          href="https://github.com/yefreescoding/blog-personal.git"
          target="_blank">Git Repository</a
        >
        <a href="https://blog-personal-flame.vercel.app/" target="_blank"
          >Live Site</a
        >
      </div>
    </div>
    <!--**************-->
    <div class="project-container flex">
      <!--** HEADER of the container **-->
      <div class="project-container__header flex">
        <div class="close-open flex">
          <img src="resources/icons/new-moon.png" alt="X" />
          <img src="resources/icons/dry-clean.png" alt="O" />
        </div>
        <h4>Titulo del proyecto</h4>
      </div>
      <!--** IMAGE of the container **-->
      <img
        class="project-container__img"
        src="resources/images/projects-img/traditional-jap.png"
        alt="Project screenshot"
      />
      <!--** INFORMATION of the container **-->
      <div class="project-container__info flex">
        <h3>Name of the project.</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui
          quia alias iste ipsa hic perspiciatis tenetur vitae, esse odio eius
          sequi cum laudantium fugiat iure magni sit laboriosam libero.
        </p>
      </div>
      <!--** LINK of the container **-->
      <div class="project-container__links">
        <a
          href="https://github.com/yefreescoding/stuff-i-coded-for-fun.git"
          target="_blank">Git Repository</a
        >
        <a href="https://stuff-i-coded-for-fun.vercel.app/" target="_blank"
          >Live Site</a
        >
      </div>
    </div>
    <!--**************-->
    <div class="project-container flex" style="display: none;">
      <!--** HEADER of the container **-->
      <div class="project-container__header flex">
        <div class="close-open flex">
          <img src="resources/icons/new-moon.png" alt="X" />
          <img src="resources/icons/dry-clean.png" alt="O" />
        </div>
        <h4>Titulo del proyecto</h4>
      </div>
      <!--** IMAGE of the container **-->
      <div class="project-container__img">
        <img src="" alt="Project screenshot" />
      </div>
      <!--** INFORMATION of the container **-->
      <div class="project-container__info flex">
        <h3>Name of the project.</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui
          quia alias iste ipsa hic perspiciatis tenetur vitae, esse odio eius
          sequi cum laudantium fugiat iure magni sit laboriosam libero.
        </p>
      </div>
      <!--** LINK of the container **-->
      <div class="project-container__links">
        <a href="#" target="_blank">Git Repository</a>
        <a href="#" target="_blank">Live Site</a>
      </div>
    </div>
  </section>
  <ContactForm />
</MainLayout>
