---
// import layouts
import MainLayout from '../Layout/MainLayout.astro';

// import components
import Cover from '../Components/Cover.astro';
---

<MainLayout title="Yefree's portfolio">
  <Cover
    coverTitle="{ Hola Mundo };"
    description="Handcrafted web developer, illustrator and cheeseburger lover."
    coverImage="/images/hero-images/hero-cover.PNG"
  />
  <!--** QUICK LINKS **-->
  <div class="quick-links grid">
    <h2>Quick-links</h2>
    <div class="quick-links__contenedor grid">
      <a class="q-links hidden" href="#projects" id="projects-toggle"
        >Projects &#8599;</a
      >
      <a class="q-links hidden" href="#about">About &#8599;</a>
      <a class="q-links hidden" href="">GitHub &#8599;</a>
      <a class="q-links hidden" href="#contact">Let's connect &#8599;</a>
    </div>
  </div>
  <!--** SKILLS section **-->
  <section id="skills" class="grid">
    <div class="title-skills grid">
      <span
        >"Good design is like a refrigerator—when it works, no one notices, but
        when it doesn't, it sure stinks." - Irene Au</span
      >
      <h2>&lt;SKILLS&gt;</h2>
    </div>
    <div class="skills-container grid">
      <!--**************-->
      <div class="skills-container__section hidden html flex">
        <img src="resources/icons/html.png" alt="HTML icon logo" />
        <h3>HTML</h3>
        <p>
          I am skilled in HTML and capable of creating basic to complex web page
          structures. I use semantic HTML tags to create organized and
          responsive web pages with various elements such as forms, images, and
          videos. I create engaging and interactive pages.
        </p>
        <a
          href="https://github.com/yefreescoding?tab=repositories"
          target="_blank">See Projects &rarr;</a
        >
      </div>
      <!--**************-->
      <div class="skills-container__section hidden css flex">
        <img src="resources/icons/css-line.png" alt="HTML icon logo" />
        <h3>CSS</h3>
        <p>
          I am skilled in CSS and can create visually appealing and responsive
          web pages. I use CSS to design custom styles, layouts, and animations
          that enhance the user experience. I am proficient in modern CSS
          frameworks and libraries.
        </p>
        <a href="https://www.instagram.com/ysvcodes/" target="_blank"
          >Go to my instagram &rarr;</a
        >
      </div>
      <!--**************-->
      <div class="skills-container__section hidden js flex">
        <img src="resources/icons/javascript.png" alt="HTML icon logo" />
        <h3>JavaScript</h3>
        <p>
          I am skilled in JavaScript and can create interactive web pages with
          animations, event handling, form validation, and data manipulation. I
          have expertise in modern JavaScript frameworks and libraries such as
          React, and jQuery.
        </p>
        <a href="#">Go to my CV &rarr;</a>
      </div>
    </div>
    <div class="title-skills">
      <h2>&lt;SKILLS/&gt;</h2>
    </div>
  </section>
  <!--** PROJECTS section **-->
  <h2 id="projects" class="projects-title">FEATURED PROJECTS</h2>
  <section class="projects-sect grid">
    <!--**************-->
    <div class="project-container flex">
      <!--** HEADER of the container **-->
      <div class="project-container__header flex">
        <div class="close-open flex">
          <img src="resources/icons/new-moon.png" alt="X" />
          <img src="resources/icons/dry-clean.png" alt="O" />
        </div>
        <h4>Landing Page</h4>
      </div>
      <!--** IMAGE of the container **-->
      <img
        class="project-container__img"
        src="resources/images/projects-img/landing-page-leana-deeb.png"
        alt="Project screenshot"
      />
      <!--** INFORMATION of the container **-->
      <div class="project-container__info flex">
        <h3>Influencer Landing Page.</h3>
        <p>
          This a landing page I made as a project to learn the basics of web
          responsive design, use of different medias such as images and videos.
        </p>
      </div>
      <!--** LINK of the container **-->
      <div class="project-container__links">
        <a
          href="https://github.com/yefreescoding/Redesign-web-page.git"
          target="_blank">Git Repo</a
        >
        <a href="https://redesign-web-page.vercel.app/" target="_blank"
          >Live Site</a
        >
      </div>
    </div>
    <!--**************-->
    <div class="project-container flex">
      <!--** HEADER of the container **-->
      <div class="project-container__header flex">
        <div class="close-open flex">
          <img src="resources/icons/new-moon.png" alt="X" />
          <img src="resources/icons/dry-clean.png" alt="O" />
        </div>
        <h4>Web Blog</h4>
      </div>
      <!--** IMAGE of the container **-->
      <img
        class="project-container__img"
        src="resources/images/projects-img/project-img-blog.png"
        alt="Project screenshot"
      />
      <!--** INFORMATION of the container **-->
      <div class="project-container__info flex">
        <h3>Personal blog.</h3>
        <p>
          Esta es una pagina web que hice para tener mi propio blog, en el que
          yo tenga el control maximo. Sin duda una gran prueba para practicar.
        </p>
      </div>
      <!--** LINK of the container **-->
      <div class="project-container__links">
        <a
          href="https://github.com/yefreescoding/blog-personal.git"
          target="_blank">Git Repository</a
        >
        <a href="https://blog-personal-flame.vercel.app/" target="_blank"
          >Live Site</a
        >
      </div>
    </div>
    <!--**************-->
    <div class="project-container flex">
      <!--** HEADER of the container **-->
      <div class="project-container__header flex">
        <div class="close-open flex">
          <img src="resources/icons/new-moon.png" alt="X" />
          <img src="resources/icons/dry-clean.png" alt="O" />
        </div>
        <h4>Titulo del proyecto</h4>
      </div>
      <!--** IMAGE of the container **-->
      <img
        class="project-container__img"
        src="resources/images/projects-img/traditional-jap.png"
        alt="Project screenshot"
      />
      <!--** INFORMATION of the container **-->
      <div class="project-container__info flex">
        <h3>Name of the project.</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui
          quia alias iste ipsa hic perspiciatis tenetur vitae, esse odio eius
          sequi cum laudantium fugiat iure magni sit laboriosam libero.
        </p>
      </div>
      <!--** LINK of the container **-->
      <div class="project-container__links">
        <a
          href="https://github.com/yefreescoding/stuff-i-coded-for-fun.git"
          target="_blank">Git Repository</a
        >
        <a href="https://stuff-i-coded-for-fun.vercel.app/" target="_blank"
          >Live Site</a
        >
      </div>
    </div>
    <!--**************-->
    <div class="project-container flex" style="display: none;">
      <!--** HEADER of the container **-->
      <div class="project-container__header flex">
        <div class="close-open flex">
          <img src="resources/icons/new-moon.png" alt="X" />
          <img src="resources/icons/dry-clean.png" alt="O" />
        </div>
        <h4>Titulo del proyecto</h4>
      </div>
      <!--** IMAGE of the container **-->
      <div class="project-container__img">
        <img src="" alt="Project screenshot" />
      </div>
      <!--** INFORMATION of the container **-->
      <div class="project-container__info flex">
        <h3>Name of the project.</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui
          quia alias iste ipsa hic perspiciatis tenetur vitae, esse odio eius
          sequi cum laudantium fugiat iure magni sit laboriosam libero.
        </p>
      </div>
      <!--** LINK of the container **-->
      <div class="project-container__links">
        <a href="#" target="_blank">Git Repository</a>
        <a href="#" target="_blank">Live Site</a>
      </div>
    </div>
  </section>
  <section id="contact" class="contact grid">
    <h2>Say hi...</h2>
    <div class="container-form grid">
      <div class="container-form__quote flex">
        <p>
          I am open to new job opportunities, ready to be part of a work team
          and give as much value as I can. Ready for new and exciting
          challenges.
        </p>
        <div class="grid">
          <span class="links-to"> Email me at:</span>
          <a href="">yefree13santos@outlook.com</a>
        </div>
        <div class="grid">
          <span class="links-to"> Follow:</span>
          <a href="">Instagram</a>
          <a href="">Twitter</a>
          <a href="">GitHub</a>
        </div>
      </div>
      <form class="container-form__form flex" action="">
        <input type="text" placeholder="Your name*" />
        <input type="email" placeholder="Your email*" />
        <input type="url" placeholder="Your web page (If it exist)" />
        <input type="text" placeholder="How can I help?" />
        <button type="submit">Get in touch</button>
      </form>
    </div>
  </section>
</MainLayout>
