---
// import layouts
import MainLayout from '../Layout/MainLayout.astro';

// import components
import Cover from '../Components/Cover.astro';
// import QuickLinks from '../Components/Quick-links.astro';
import ContactForm from '../Components/ContactForm.astro';

// import data
// import skills from '../Data/skillsData';
import projects from '../Data/projectsData';
import SkillsSection from '../Components/SkillsSection.astro';
---

<MainLayout subtitle="HOME">
  <Cover
    coverTitle="¡Hola mundo!"
    description="Desarrollador web front end, diseñador UI e ilustrador. Con mas de 116 dias de experiencia."
    coverImage="/images/hero-images/index-hero.PNG"
  />
  <!-- <QuickLinks /> -->
  <!--** SKILLS section **-->
  <SkillsSection />
  <!--** PROJECTS section **-->
  <section id="projects" class="projects">
    <h2 class="projects__h2">proyectos</h2>
    <!--**************-->
    <div class="projects__wrap">
      {
        projects.map((project) => (
          <article class="projects__article flex">
            <h3 class="projects__h3">{project.name}</h3>
            <a
              href={project.link}
              class="projects__link project-container__info flex"
            >
              <img
                class="projects__image"
                src={project.image}
                alt="Project screenshot"
              />
              <p class="projects__p">{project.description}</p>
            </a>
          </article>
        ))
      }
    </div>
  </section>
  <ContactForm />
</MainLayout>
