---
// import lauouts
import MainLayout from '../Layout/MainLayout.astro';

// import components
import Cover from '../Components/Cover.astro';
import QuickLinks from '../Components/Quick-links.astro';
import ContactForm from '../Components/ContactForm.astro';
---

<MainLayout title="Memorias - Yefree">
  <Cover
    coverTitle="Thoughts"
    description="Todos mis pensamientos y experienzas plasmadas en esta seccion sobre desarrollo web"
    coverImage="/images/hero-images/thoughts-hero.PNG"
  />
  <QuickLinks />
  <section class="thoughts" aria-label="Articulos memorias">
    <div class="thoughts__div">
      <h2 class="thoughts__h2">2023</h2>
      <a class="thoughts__a" href="../content/thoughts-1">
        ¿Por qué empece estudiar programación?
      </a>
    </div>
  </section>
  <ContactForm />
</MainLayout>
