---
// import lauouts
import MainLayout from '../Layout/MainLayout.astro';

// import components
import Cover from '../Components/Cover.astro';
import QuickLinks from '../Components/Quick-links.astro';
import ContactForm from '../Components/ContactForm.astro';
---

<MainLayout>
  <Cover
    coverTitle="Thoughts"
    description="Todos mis pensamientos y experienzas plasmadas en esta seccion sobre desarrollo web"
    coverImage="/images/hero-images/hero-thoughts.JPG"
  />
  <QuickLinks />
  <section class="thoughts">
    <div class="thoughts__div">
      <h2 class="thoughts__h2">2023</h2>
      <a class="thoughts__a" href="/thoughts/"
        >Como uso chat GPT en mi dia a dia.</a
      >
      <a class="thoughts__a" href="/thoughts/"
        >多Habre tomado la decision acertada?</a
      >
      <a class="thoughts__a" href="/thoughts/"
        >Ser desarrollador de software en 2023.</a
      >
      <a class="thoughts__a" href="/thoughts/"
        >多Que me hizo empezar en el mundo del desarrollo web?</a
      >
      <h2 class="thoughts__h2">2022</h2>
      <a class="thoughts__a" href="/thoughts/"
        >Como uso chat GPT en mi dia a dia.</a
      >
      <a class="thoughts__a" href="/thoughts/"
        >多Habre tomado la decision acertada?</a
      >
      <a class="thoughts__a" href="/thoughts/"
        >Ser desarrollador de software en 2023.</a
      >
      <a class="thoughts__a" href="/thoughts/"
        >多Que me hizo empezar en el mundo del desarrollo web?</a
      >
    </div>
  </section>
  <ContactForm />
</MainLayout>
