---
import { Image } from "astro:assets";

// Library imports
import { Icon } from "astro-icon";

const subjectImage = "/images/hero-images/Subject.jpg";
const iconVerify = "/images/icons/verify.png";

// import Layouts
import MainLayout from "../Layout/MainLayout.astro";

// import components
import Cover from "../Components/Cover.astro";
import DivisionHr from "../Components/DivisionHr.astro";

// import data
import aboutMe from "../Data/aboutMeData";
import CardAboutMe from "../Components/CardAboutMe.astro";
---

<MainLayout subtitle="About">
  <section id="about" class="section_about border-x border-gray-200">
    <header aria-label="Cabecera sobre mi" class="mb-8 p-6">
      <div class="flex justify-between my-4">
        <Image
          src={subjectImage}
          alt="Mi foto"
          width="10"
          height="10"
          class="w-16 h-16 rounded-full shadow-lg object-cover"
          decoding="async"
          loading="lazy"
        />
        <button class="twitter_btn" type="button">Twitter</button>
      </div>
      <div class="grid grid-flow-row gap-4">
        <div class="flex items-center gap-2">
          <h1 class="text-xl font-black">Yefree Valdez</h1>
          <Image
            src={iconVerify}
            alt="Icon twitter"
            width="10"
            height="10"
            class="w-6 h-6 rounded-full shadow-sm object-cover"
            decoding="async"
            loading="lazy"
          />
        </div>
        <p>
          Desarrollador de software que ha decidido escoger el camino "dificil":
          especializarse en front end en 2023.
        </p>
        <div class="flex gap-4">
          <span class="flex items-center gap-2 text-base">
            <Icon class="w-6 h-6" name="mdi:link-variant" />
            <a href="/" class="text-blue-400">Links</a>
          </span>
          <p class="flex items-center gap-2 text-base">
            <Icon class="w-6 h-6" name="mdi:calendar-month-outline" />
            13 de Enero de 2023
          </p>
        </div>
        <p class="flex items-center gap-2 text-base">
          <Icon class="w-6 h-6" name="mdi:account-supervisor" />
          <strong>3</strong> Following
        </p>
      </div>
    </header>
    <div aria-label="Cuerpo sobre mi">
      <CardAboutMe>
        <div class="grid grid-flow-row gap-4">
          <p>
            He aprendido un skill que me servira para toda la vida, de eso estoy
            muy seguro.
          </p>
          <p>
            Ya ire pensando que cosas poner aqui... mientras tanto nos podemos
            entretener con este divertido Gif.
          </p>
          <iframe
            src="https://giphy.com/embed/zzALYeLqMLDa6PEV2C"
            class="w-full aspect-square rounded-2xl"></iframe><p></p>
        </div>
      </CardAboutMe>
    </div>
  </section>
  <!-- <DivisionHr bottomText={false} /> -->
</MainLayout>

<style lang="scss" is:global>
  .section_about {
    width: min(100% - 2rem, 55em);
    margin-inline: auto;
    // padding: 1rem;
  }

  /* CSS */
  .twitter_btn {
    appearance: button;
    background-color: #1899d6;
    border-radius: 1rem;
    border-width: 0 0 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.8px;
    line-height: 20px;
    overflow: visible;
    padding: 10px 14px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    vertical-align: middle;
    white-space: nowrap;
    width: fit-content;
  }

  .twitter_btn:after {
    background-clip: padding-box;
    background-color: #1cb0f6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .twitter_btn:main,
  .twitter_btn:focus {
    user-select: auto;
  }

  .twitter_btn:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }

  .twitter_btn:disabled {
    cursor: auto;
  }
</style>
