---
import MainLayout from "../Layout/MainLayout.astro";
import Cover from "../Components/Cover.astro";

import SectionGrid from "../Components/SectionGrid.astro";
---

<MainLayout subtitle="About">
  <Cover
    coverTitle="Hola, esta es mi galería de arte 🎨"
    description="Aparte de ser programador, también me gusta pintar, escribir, diseñar, y crear cosas. Me gusta trabajar en equipo, aprender cosas nuevas, y me gusta hacer cosas que me inspiren."
  >
    <img
      class="aspect-square w-full max-w-[400px] object-cover"
      src="/images/hero-images/hero-img-2.png"
      alt="Modern Concept Hero"
    />
  </Cover>
  <SectionGrid>
    <!-- <Image/> -->
    <div>
      <img
        class="aspect-square w-full max-w-[400px] object-cover"
        src="/images/hero-images/hero-img-4.webp"
        alt="Modern Concept Hero"
      />
    </div>
    <div>
      <img
        class="aspect-square w-full max-w-[400px] object-cover"
        src="/images/hero-images/hero-img-2.png"
        alt="Modern Concept Hero"
      />
    </div>
    <div>
      <img
        class="aspect-square w-full max-w-[400px] object-cover"
        src="/images/hero-images/hero-img-1.webp"
        alt="Modern Concept Hero"
      />
    </div>
    <div>
      <img
        class="aspect-square w-full max-w-[400px] object-cover"
        src="/images/hero-images/hero-img-3.jpg"
        alt="Modern Concept Hero"
      />
    </div>
  </SectionGrid>
</MainLayout>
