---
// layouts imports
import MainLayout from "../Layout/MainLayout.astro";

// components imports
import Cover from "../Components/Cover.astro";
import ContactForm from "../Components/ContactForm.astro";
import ProjectDisplay from "../Components/ProjectDisplay.astro";
import DivisionHr from "../Components/DivisionHr.astro";
import Layout from "../Components/horizontal-comp/Layout.tsx";
import GalleryDiv from "../Components/horizontal-comp/GalleryDiv.tsx";

// data imports
import { projects } from "../Data/projects";
---

<MainLayout subtitle="HOME">
  <Cover
    coverTitle="Front End Developer"
    description="Desarrollador de software autodidacta. Aportando mi granito de arena para que la web siga siendo ese lugar curioso, extraño y lleno de oportunidades."
  />
  <DivisionHr />
  <section id="projects" class="projects" aria-label="Proyectos">
    <header class="flex flex-col gap-4 mb-[10vh]">
      <h2 class="projects__h2">
        Mi <span class="text-green-600">experiencia</span>
      </h2>
      <p class="projects__p">
        El trabajo suele hablar por sí solo, toda la experiencia que tengo esta
        aqui presente. Estos son algunos de los proyectos en los que he
        trabajado, ya sea de manera indivudual o en equipo.
      </p>
    </header>
    <Layout contentMaxWidth="80ch">
      <GalleryDiv direction="normal" galleryItemsAspectRatio="square">
        {
          projects.map((project) => (
            <ProjectDisplay
              name={project.name}
              link={project.link}
              github={project.github}
              imagesrc={project.imagesrc}
            />
          ))
        }
      </GalleryDiv>
    </Layout>
    <!-- <div class="projects__container"></div> -->
  </section>
  <ContactForm />
</MainLayout>

<style lang="scss" is:global>
  .projects {
    // width: min(100% - 2rem, 80em);
    @apply gap-[1rem] mx-auto;

    header {
      width: min(100% - 2rem, 80em);
      margin-inline: auto;
    }
  }

  .projects__p {
    position: relative;
    width: fit-content;
    padding: 1rem;
    background-color: var(--clr-text-3);
    outline: solid 2px var(--clr-border-2);
    --distance: 6px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border: inherit;
      z-index: -1;
    }
    &::after {
      transform: translate(var(--distance), var(--distance));
      background-color: var(--clr-background-1);
    }
    &::before {
      transform: translate(
        calc(var(--distance) * 2),
        calc(var(--distance) * 2)
      );
      background-color: var(--clr-text-2);
    }
  }
</style>
