---
---

<section id="contact" class="contact">
  <div class="contact__text">
    <h2 class="contact__h2">Contacta conmigo</h2>
    <p>
      ¿Te ha gustado mi trabajo? Estoy abierto a nuevas oportunidades laborales,
      me gustaria ser parte de un equipo de desarrolladores y dar todo el valor
      que pueda. Estoy listo para lo nuevo y emocionante Desafíos.
    </p>
  </div>
  <form class="contact__form">
    <input type="text" name="" placeholder="Your name*" required />
    <input type="email" name="" placeholder="Your email*" required />
    <input type="url" name="" placeholder="Your web page (If it exist)" />
    <input type="text" name="" placeholder="How can I help?" required />
    <button id="" class="contact__submit btn principal" type="submit">
      Enviar mensaje
    </button>
  </form>
</section>

<style lang="scss" is:global>
  .contact__text,
  .contact__form {
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
    gap: 1rem;
    color: var(--clr-text-1);
  }

  .contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    background-color: var(--clr-text-3);
    border: 2px solid var(--clr-border-2);
    gap: 2rem;
  }

  .contact__form input {
    border-radius: 10px;
    border: var(--clr-border-2) 2px solid;
    box-shadow: 3px 6px 0 var(--clr-border-2);
    padding: 0.8rem;
    font-size: 1rem;
  }
  .contact__submit {
    align-self: flex-end;
  }
</style>
