<section id="contact" class="contact grid">
    <h2>Say hi...</h2>
    <div class="container-form grid">
        <div class="container-form__quote flex">
            <p>
                I am open to new job opportunities, ready to be part of a work
                team and give as much value as I can. Ready for new and exciting
                challenges.
            </p>
            <div class="grid">
                <span class="links-to"> Email me at:</span>
                <a href="">yefree13santos@outlook.com</a>
            </div>
            <div class="grid">
                <span class="links-to"> Follow:</span>
                <a href="">Instagram</a>
                <a href="">Twitter</a>
                <a href="">GitHub</a>
            </div>
        </div>
        <form class="container-form__form flex" action="">
            <input type="text" placeholder="Your name*" />
            <input type="email" placeholder="Your email*" />
            <input type="url" placeholder="Your web page (If it exist)" />
            <input type="text" placeholder="How can I help?" />
            <button type="submit">Get in touch</button>
        </form>
    </div>
</section>
