---
---

<section id="contact" class="contact">
    <div class="contact__text">
        <h2 class="contact__h2">Contacta conmigo</h2>
        <p>
            ¿Te interesa mi trabajo? Estoy abierto a nuevas oportunidades
            laborales, listo para ser parte de un trabajo equipo y dar todo el
            valor que pueda. Listo para lo nuevo y emocionante Desafíos.
        </p>
    </div>
    <form class="contact__form" action="">
        <input type="text" placeholder="Your name*" />
        <input type="email" placeholder="Your email*" />
        <input type="url" placeholder="Your web page (If it exist)" />
        <input type="text" placeholder="How can I help?" />
        <button class="contact__submit" type="submit">Get in touch</button>
    </form>
</section>
