---
import Buttons from './Buttons.astro';
const { coverTitle, description, buttonsYes = true } = Astro.props;
---

<section id="home" class="cover" aria-label="Portada de la pagina">
  <!--** LEFT SIDE, Desktop. BOTTOM SIDE, mobile **-->
  <div class="cover__text">
    <h1 class="cover__h1 font-extrabold">
      {coverTitle}
    </h1>
    <p class="cover__p">{description}</p>
    <div class="cover__div flex flex-col lg:flex-row gap-4 my-[2rem]">
      {
        buttonsYes && (
          <>
            <Buttons
              width="full"
              link="mailto:yefree13santos@outlook.com"
              size="lg"
              classes="cover__links text-center"
              isFilled
            >
              Contacta Conmigo ;)
            </Buttons>
            <Buttons
              width="full"
              link="cv/YefreeCV2023.pdf"
              size="lg"
              classes="cover__links text-center"
              theme="clr-background-1"
              isFilled
            >
              Curriculum PDF
            </Buttons>
          </>
        )
      }
    </div>
  </div>
  <div class="cover__image grid place-items-center">
    <slot />
  </div>
</section>

<style>
  .cover,
  .cover__text,
  .cover__div {
    display: flex;
  }

  .cover__text,
  .cover__image {
    flex-basis: 25em;
    flex-grow: 2;
  }

  .cover {
    flex-wrap: wrap;
    overflow: hidden;
    width: min(100% - 2rem, 80em);
    margin-inline: auto;
  }
  .cover__image {
    width: min(100%, 30rem);
    aspect-ratio: 1;
    object-fit: contain;
  }
  .cover__text {
    flex-flow: column;
    justify-content: center;
    gap: 2rem;
    padding: 5vh 3vw;
  }
  .cover__h1 {
    color: var(--clr-text-2);
    text-shadow: 3px 3px 0 var(--clr-border-2);
  }
</style>
