---
const { coverTitle, description, coverImage } = Astro.props;
---

<section id="home" class="cover" aria-label="Portada de la pagina">
  <!--** LEFT SIDE, Desktop. BOTTOM SIDE, mobile **-->
  <img
    class="cover__image img-conte flex"
    src={coverImage}
    alt="Vector portrait picture."
  />
  <div class="cover__text">
    <h1 class="cover__h1">
      {coverTitle}
    </h1>
    <p class="cover__p">{description}</p>
    <a
      class="cover__links cover__links--mail"
      href="mailto: yefree13santos@eoutlook.com"
      target="_blank"
    >
      Conecta Conmigo ;)</a
    >
    <!-- <div class="cover__text cover__text--bottom intro-cont__buttons">
    </div> -->
  </div>
  <!--** RIGHT SIDE, Desktop. TOP SIDE, mobile **-->
</section>
