---
const { img, position } = Astro.props;
---

<div id="icon" class:list={[`icons__hero ${position}`]}>
  <div class="after">
    <img width="50" height="50" src={img} alt="Icons web dev" />
  </div>
</div>
<style>
  div {
    /* --rotate-Y: -15deg;
    --rotate-X: -15deg; */
    position: absolute;
    width: 6rem;
    aspect-ratio: 10/6;
    border-radius: 1rem;
    transform: perspective(5000px) rotateX(var(--rotate-Y))
      rotateY(var(--rotate-X)) translateZ(1rem);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    animation: move 3s linear infinite alternate;
  }

  @media (prefers-reduced-motion) {
    div {
      animation: none;
    }
  }

  .after {
    transform-style: preserve-3d;
    position: absolute;
    inset: 10px 0;
    z-index: -1;
    transform: translateZ(10px);
    background: linear-gradient(45deg, var(--clr-text-1), var(--clr-text-2));
    border-radius: inherit;
  }

  img {
    /* position: absolute; */
    transform: translateZ(20px);
    object-fit: cover;
    z-index: 99;
  }

  @keyframes move {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }

    35% {
      transform: rotateX(13deg) rotateY(-13deg);
    }

    75% {
      transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
      transform: rotateX(-13deg) rotateY(13deg);
    }
  }
</style>
