---
const { img, position } = Astro.props;
---

<div id="icon" class:list={[`icons__hero ${position}`]}>
  <img width="50" height="50" src={img} alt="Icons web dev" />
</div>
<style>
  div {
    /* --rotate-Y: -15deg;
    --rotate-X: -15deg; */
    position: absolute;
    width: 6rem;
    aspect-ratio: 10/6;
    border-radius: 1rem;
    transform: perspective(5000px) rotateX(var(--rotate-Y))
      rotateY(var(--rotate-X)) translateZ(1rem);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    animation: move 3s linear infinite alternate;
  }

  div::after {
    content: '';
    position: absolute;
    inset: 10px 0;
    transform: translateZ(-1rem);
    z-index: -1;
    background: linear-gradient(45deg, var(--clr-text-1), var(--clr-text-2));
    border-radius: inherit;
  }

  img {
    object-fit: cover;
  }

  @keyframes move {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }

    35% {
      transform: rotateX(15deg) rotateY(15deg);
    }

    75% {
      transform: rotateX(-15deg) rotateY(15deg);
    }

    100% {
      transform: rotateX(-15deg) rotateY(-15deg);
    }
  }
</style>
