---
---

<!-- <div class="loader">
  <p>Estamos preparando la web</p>
  <div class="line-wobble"></div>
</div> --><!-- 
<script>
  const loader = document.querySelector('.loader');

  const loaderTime = setTimeout(loading, 1500);

  function loading() {
    loader.classList.add('loaded');
  }
</script> -->
