---
//data imports
import navData from '../Data/navData';
---

<nav class="nav" data-visible="false">
  <!--* LINKS contenedor *-->
  <ul class="nav__ul">
    {
      navData.map((link) => (
        <li class="nav__li">
          <a
            href={link.link}
            class="nav__links"
            aria-label="links to outside websites"
          >
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
<button
  id="toggle-mobile-menu"
  class="nav__mobile btn secondary"
  data-fixed="false"></button>

<style lang="scss">
  .nav {
    flex: 2;
  }
  .nav__ul {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  @media (width < 39.998em) {
    .nav {
      position: fixed;
      inset: 0 1rem auto 1rem;
      height: 10rem;
      background-color: var(--clr-background-2);
      border: 2px solid var(--clr-border);
      box-shadow: 5px 6px var(--clr-box-shd);
      transform: translateX(-120%);
      transition: transform 0.24s ease-in;
    }

    .nav__ul {
      flex-flow: column;
      gap: 3rem;
      align-items: start;
      padding: min(5vh, 10rem) 1rem;
    }
    .nav__links {
      // color: var(--clr-text-1);
      // background-color: red;
      text-align: left;
      font-size: 2.5rem;
      border: 3px transparent solid;
      transition: all 0.2s linear;
      .mobile {
      }
    }
  }
  .nav[data-visible='true'] {
    transform: translateX(0);
  }

  .nav__mobile {
    width: 2.5rem;
    aspect-ratio: 1;
    z-index: 9999;
    background-color: transparent;
    background-image: url('/images/icons/more.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.17s linear;
    @media (min-width: 40em) {
      display: none;
    }
  }
  .nav__li {
    position: relative;
  }
  .nav__links {
    color: var(--clr-text-1);
    text-align: center;
    border: 3px transparent solid;
    transition: all 0.2s linear;
  }
  .nav__links:is(:hover, :active) {
    border-bottom: 3px var(--clr-text-2) solid;
  }
</style>
<script>
  //import utils
  import '../js/utils';
</script>
