---
//data imports
import navData from '../Data/navData';
---

<nav data-visible="false">
    <!--* LINKS contenedor *-->
    <ul class="links-container flex">
      {
        navData.map(link => 
          <li>
            <a href={link.link} class="links-container__link" aria-label="links to navigate" >{link.name}</a>
          </li>
        )
      }
      </li>
    </ul>
  </nav>
  <button id="toggle-mobile-menu" data-fixed="false">
    <img src="resources/icons/old-computer.png" alt="old computer icon">
  </button>