---
interface Props {
  imagesrc: string;
}

const { imagesrc } = Astro.props as Props;
---

<div class="card">
  <div class="tools">
    <div class="circle">
      <span class="red box"></span>
    </div>
    <div class="circle">
      <span class="yellow box"></span>
    </div>
    <div class="circle">
      <span class="green box"></span>
    </div>
  </div>
  <div class="card__content">
    <img
      id="proj-img"
      src={imagesrc}
      alt="Imagen del proyecto"
      class="w-full rounded-b-xl"
    />
  </div>
</div>

<style>
  .card {
    --border-radius: 1rem;
    margin: 0 auto;
    background-color: var(--clr-background-2);
    border-radius: var(--border-radius);
    border: 2px solid var(--clr-border-2);
    outline: var(--clr-background-2);
    z-index: 1;
    position: relative;
    transform-style: preserve-3d;
    isolation: isolate;
    /* overflow: hidden; */
  }

  .card::after {
    content: '';
    position: absolute;
    inset: 0.5rem -0.5rem -0.5rem 0.5rem;
    border-radius: var(--border-radius);
    background-color: var(--clr-background-1);
    border: inherit;
    z-index: -1;
  }
  .tools {
    display: flex;
    align-items: center;
    padding: 9px;
    background-color: var(--clr-background-2);
    border-bottom: 2px solid var(--clr-border-2);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  .circle {
    padding: 0 4px;
  }

  .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
  }

  .red {
    background-color: #ff605c;
  }

  .yellow {
    background-color: #ffbd44;
  }

  .green {
    background-color: #00ca4e;
  }
</style>
