---
import quickLinks from '../Data/quickLinks';
---

<div class="quick-links" aria-label="Navegation bar">
  <h2 class="quick-links__h2">quick links</h2>
  <div class="quick-links__contenedor">
    {
      quickLinks.map((link) => (
        <a class="quick-links__link q-links" href={link.link}>
          {link.name}
        </a>
      ))
    }
  </div>
</div>
