---
// vainitas
import skills from '../Data/skillsData';
---

<section id="skills" class="section-skills" aria-labelBy="work-expierence">
  <h2 id="work-expierence" class="section-skills__h2">Habilidades</h2>
  <div class="section-skills__skills">
    {
      skills.map((skill) => (
        <article class="section-skills__article">
          <img
            class="section-skills__image"
            src={skill.image}
            alt="HTML icon logo"
          />
          <h3 class="text-sm">{skill.name}</h3>
        </article>
      ))
    }
  </div>
  <article class="section-skills__text">
    <p class="projects__p">
      Comenzando con HTML, CSS y JavaScript, aprendí a programar por mi cuenta.
      Sin embargo, hoy en día hay mucho por descubrir más allá de Vanilla
      JavaScript: hoy estoy trabajando con la libreria de REACTJS, los
      frameworks Astro y NextJS, utilizo Vitest como herramienta de testing,
      SASS y Tailwind como preprocesador para CSS.
    </p>
  </article>
</section>

<style lang="scss" is:global>
  .section-skills,
  .section-skills__container {
    display: grid;
    color: var(--clr-text-1);
  }

  .section-skills__text,
  .section-skills__article {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }

  .section-skills__text {
    gap: 1rem;
    background-color: var(--clr-text-3);
    border: solid 2px var(--clr-border-2);
  }

  .section-skills {
    width: min(100% - 2rem, 80em);
    margin: 10vh auto 0 auto;
    gap: 2.5rem;
  }
  .section-skills__header {
    text-align: center;
    text-transform: capitalize;
  }

  .section-skills__h2 {
    color: var(--clr-text-2);
    // text-align: center;
  }

  .section-skills__skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .section-skills__article {
    flex: 1;
    gap: 1rem;
    padding: 0 1rem;
    align-items: center;
    color: var(--clr-text-1);
  }
  .section-skills__image {
    width: 3rem;
    aspect-ratio: 1;
  }

  .section-skills__p {
    font-size: 1rem;
    color: var(--clr-text-3);
  }
</style>
