@use "../util" as u;

.flex {
  display: flex;
}

header {
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 1rem;
  background-color: var(--color-main);
  border: 4px solid black;
  border-bottom: 0;

  .logo-container {
    flex-basis: 3.3rem;
    img {
      width: 100%;
      display: block;
    }
  }

  nav {
    position: fixed;
    inset: 1.3rem 1.8rem auto 30%;
    z-index: 9998;
    background-color: var(--color-main);
    transform: translateX(120%);
    border: 4px solid var(--Black-ish);
    box-shadow: 5px 6px var(--Black-ish);
    flex: 1;
    // width: 15rem;
    transition: transform .35s ease-in;
    ul {
      flex-flow: column;
      list-style-type: none;
      gap: 3rem;
      flex-wrap: wrap;
      padding: 5rem 1rem;
      
    }
   

    @include u.breakpoint(large){
      position: relative;
      transform: translateX(0);
      inset: 0;
      border: 0;
      box-shadow: none;
      ul {
        align-items: center;
        flex-wrap: wrap;
        flex-flow: wrap;
        padding: 0;
        gap: 1rem;
      }
      ul > * {
        flex: 1;
      }
    }
  }

  nav[data-visible=true]{
    transform: translateX(0);
  }

  button {
    flex-basis: 3rem;
    background-color: transparent;
    border: transparent;
    z-index: 9999;
    transition: all .17s linear;
    img {
      width: 100%;
    }
  }

  button[data-fixed=true]{
    transform: scale(.7, .7);
    -webkit-transform: scale(.7, .7);
    position: fixed;
    width: 4.5rem;
    inset: 1.7rem 1.5rem auto auto;
  } 

  @include u.breakpoint(large){
    button {
      display: none;
    }
  }
}

.projects-sect {
  gap: 1rem;
  padding: 1rem;

  .project-container {
    gap: 1rem;
    flex-flow: column;
    background-color: rgb(237, 235, 222);
    border: 4px solid black;
    width: min(100% - 1rem, 40rem);
    margin-inline: auto;

    &__header{
      padding: .5rem;
      gap: 1rem;
      align-items: center;
      border-bottom: 3px solid black;

      .close-open {
        flex-basis: 5rem;
        flex-wrap: nowrap;
      }
      h4 {
        flex: 1;
      }
    }

    &__info {
      padding: 1rem;
      flex-flow: column;
      gap: 1.5rem;
    }

    &__links {
      padding: 1rem;
    }
  }
}