@use "../util" as u;

.flex {
  display: flex;
}

header {
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  padding: 1rem;
  background-color: var(--color-main);
  border: 4px solid black;
  border-bottom: 0;

  .logo-container {
    flex-basis: 60px;
    img {
      width: 100%;
      display: block;
    }
  }

  nav {
    flex: 1;
    ul {
      list-style-type: none;
      gap: 1rem;
      flex-wrap: wrap;
    }
    ul > * {
      flex: 1;
    }
  }
}

.projects-sect {
  gap: 1rem;
  padding: 1rem;

  .project-container {
    gap: 1rem;
    flex-flow: column;
    background-color: rgb(237, 235, 222);
    border: 4px solid black;
    width: min(100% - 1rem, 40rem);
    margin-inline: auto;

    &__header{
      padding: .5rem;
      gap: 1rem;
      align-items: center;
      border-bottom: 3px solid black;

      .close-open {
        flex-basis: 5rem;
        flex-wrap: nowrap;
      }
      h4 {
        flex: 1;
      }
    }

    &__info {
      padding: 1rem;
      flex-flow: column;
      gap: 1.5rem;
    }

    &__links {
      padding: 1rem;
    }
  }
}