@use "../util" as u;

.grid {
  display: grid;
}

.web-page-cont {
  border: 4px solid black;
  background-color: var(--color-main);
  padding: 1%;
  // width: min(100% - 1rem, 1440px);
  // margin: 0 auto;
  gap: 2rem;
}

#home {
  --min-column-size: 20rem;
  gap: 1rem;
  grid-template-columns: 
    repeat(auto-fit, minmax(min(var(--min-column-size), 100%), 1fr));
  border-bottom: solid 3px var(--Black-ish);
  place-items: center;

  .intro-cont {
    width: 100%;
    flex-flow: column;
    gap: 2.5rem;
    padding: 5%;

    &__buttons{
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  .img-conte {
    width: 100%;
    aspect-ratio: 4 / 4;
    // border-radius: 50%;
    display: block;
    object-fit: contain;
    // @include u.breakpoint
  }

}

.quick-links {
  gap: 1rem;
  padding: 0 3rem;
  text-align: center;
  // margin-bottom: 1rem;
  &__contenedor {
    gap: .5rem;
    grid-template-columns: 
      repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
    
    .q-links {
      background-color: grey;
      color: white;
      padding: .7rem .9rem;
      border: 3px var(--Black-ish) solid;
    }
  } 
}
/*
  #toggle{
  text
  place-self: center;
  font-size: 2rem;
  padding: 1rem;
  background-color: #111;
  color: white;
  border: transparent;
}
*/

#skills {
  gap: 2rem;
  width: min(100% - 1.5rem, 100%);
  margin-inline: auto;
  
  .skills-container {
    gap: 2rem;
    grid-template-columns: 
    repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    
    @include u.breakpoint(medium){
      padding-inline: 3.5rem;
    }
    

    &__section {
      // background-color: var(--color-bg-skills);
      background-color: rgb(195, 195, 195);
      flex-flow: column;
      gap: 1rem;
      border-radius: 15px;
      padding: 1rem;
      border: 3px solid var(--Black-ish);

      img {
        width: 8rem;
        aspect-ratio: 1;
      }

      h3 {
        flex: 1;
        color: #111;
      }

      p {
        flex-grow: 1;
        flex: 2;
      }

      a{
        align-self: flex-end;
        // align-content: baseline;
        color: #111;
      }
    }

    .css {
      background: linear-gradient(140deg, grey, hsl(49, 100%, 50%));
      color: hsl(0, 24%, 93%);
      transition-delay: 300ms;
    }

    .js {
      background: hsl(49, 100%, 50%);
      transition-delay: 600ms;
    }
  }

}

.projects-sect {
  // gap: 1rem;
  // padding: .5rem;
  margin-bottom: 3rem;

  @include u.breakpoint(large){
    grid-auto-flow: column;
    grid-auto-columns: 45%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 2rem;

    >* {
      scroll-snap-align: start;
    }
  }
}

.contact {
  grid-template-rows: auto 1fr;
  gap: 2rem;
  background-color: var(--color-bg-skills);
  padding: 1rem;
  .container-form {
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    gap: 3rem;
  }
}

footer {
  // place-items: center;
  text-align: center;
  background-color: var(--Black-ish);
  color: var(--color-main);
  grid-template-columns: 1fr;
  // align-items: center;
  place-content: center;
  height: 10rem;
  // padding: 1rem;

  @include u.breakpoint(medium){
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .copyright {
    // place-items: end;
    a {
      color: var(--color-main);
      text-decoration: underline;
    }
  }
}