---
import { Image } from "astro:assets";

const subjectImage = "/images/hero-images/Subject.jpg";

const { date } = Astro.props;
---

<article
  class="flex items-start flex-nowrap gap-2 border-y border-gray-300 p-2"
>
  <aside class="basis-[3rem]">
    <Image
      src={subjectImage}
      alt="Mi foto"
      width="15"
      height="15"
      class="w-[50px] aspect-square rounded-full shadow-sm object-cover"
      decoding="async"
      loading="lazy"
    />
  </aside>
  <div class="basis-[5rem] flex-grow">
    <div class="flex items-center justify-between">
      <div class="flex gap-2 items-center">
        <h3 class="text-base font-bold">YefreeCodes</h3>
        <span>• {date}</span>
      </div>
      <button
        role="button"
        class="w-8 rounded-full aspect-square hover:bg-slate-100/50 transition-all"
        >•••</button
      >
    </div>
    <slot />
  </div>
</article>
