---
import { deserializeActionResult } from "astro:actions";

interface Props {
  coverTitle: string;
  description: string;
  animation?: any;
}

const { coverTitle, description, animation = "none" } = Astro.props;

const anim = {
  old: {
    name: "moveToTop",
    duration: "0.2s",
    easing: "ease-in",
  },
  new: {
    name: "moveFromBottom",
    duration: "0.6s",
    easing: "ease-out",
    delay: "0.3s",
  },
};

const customTransition = {
  forwards: anim,
  backwards: anim,
};
---

<section
  id="home"
  class="box-component cover min-h-[60dvh]"
  aria-label="Portada de la pagina"
  transition:animate={customTransition}
>
  <div class="h-full grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- Texto -->
    <div
      class="text-balance h-full w-full flex flex-col items-start justify-between"
    >
      <div class="w-full h-full flex flex-col items-start">
        <p
          class="mb-8 mx-auto md:mx-0 text-sm flex-wrap flex items-center justify-center gap-2 w-fit rounded-full p-1 pl-2 text-zinc-400"
        >
          <span>Portfolio 2025</span>
          <span class="bg-blue-100/90 text-blue-800 rounded-2xl px-2 py-[3px]"
            >Beta v3.05</span
          >
        </p>
        <h1 class="mb-6 text-3xl font-bold">{coverTitle}</h1>
      </div>
      <p class="text-lg md:text-xl font-bold text-balance">{description}</p>
    </div>
    <div
      class="flex-2 w-full h-full flex flex-col justify-center items-center gap-4"
    >
      <slot />
    </div>
  </div>
</section>
