---
import { Icon } from "astro-icon";
---

<button
  id="dark-light"
  type="button"
  data-theme="light"
  aria-label="Toggle entre modo noche y modo luz"
  class="w-4 aspect-square flex items-center justify-center"
>
  <Icon class="h-4" name="bi:moon-fill" />
  <span class="sr-only">Mode</span>
</button>

<style>
  button svg {
    transition: all 340ms;
  }

  button:hover svg {
    transform: rotate(-15deg) translateY(-8px) scale(1.05);
  }
</style>

<script>
  // Dark Light mode toggle
  const darkModeBtn = document.querySelector("#dark-light");
  const darkModeBtnText = document.querySelector("#mode");

  // Remove transitions for a better ux
  const css = document.createElement("style");
  css.type = "text/css";
  css.appendChild(
    document.createTextNode(
      `* {
       -webkit-transition: none !important;
       -moz-transition: none !important;
       -o-transition: none !important;
       -ms-transition: none !important;
       transition: none !important;
    }`
    )
  );
  document.head.appendChild(css);

  // Save the user dark mode preferences in localStorage
  const theme = localStorage.getItem("theme");
  if (theme === "dark") {
    darkModeBtn.setAttribute("data-theme", "dark");
    document.body.classList.add("dark-mode");
  }

  darkModeBtn.addEventListener("click", () => {
    const mode = darkModeBtn.getAttribute("data-theme");

    if (mode === "light") {
      darkModeBtn.setAttribute("data-theme", "dark");
      document.body.classList.add("dark-mode");
      localStorage.setItem("theme", "dark");
    } else if (mode === "dark") {
      darkModeBtn.setAttribute("data-theme", "light");
      document.body.classList.remove("dark-mode");
      localStorage.setItem("theme", "light");
    }
  });

  const _ = window.getComputedStyle(css).opacity;
  document.head.removeChild(css);
</script>
