---
---

<form
  action="https://api.web3forms.com/submit"
  method="POST"
  id="form"
  class="contact__form"
  novalidate
>
  <input
    type="hidden"
    name="access_key"
    value="fa7f8d69-6b06-450d-a5d6-51034a9d7706"
  />
  <!-- Create your free access key from https://web3forms.com/ -->
  <label for="name">
    <span class="sr-only">Name</span>
    <input
      type="text"
      name="name"
      placeholder="Your name*"
      data-error="name"
      required
    />
    <div
      class="empty-feedback invalid-feedback text-red-400 text-sm mt-1"
      data-error="name"
    >
      Enter a correct name...
    </div>
  </label>
  <label for="email_address">
    <span class="sr-only">Email Address</span>
    <input
      id="email_address"
      type="email"
      placeholder="Your email address*"
      name="email"
      data-error="email"
      required
    />
    <div
      class="empty-feedback invalid-feedback text-red-400 text-sm mt-1"
      data-error="email"
    >
      Plese provide your email address...
    </div>
  </label>
  <label for="website">
    <span class="sr-only">Your Website</span>
    <input
      type="url"
      name="website"
      placeholder="Your web page (If it exist)"
    />
  </label>
  <label for="message" class="">
    <span class="sr-only">Tu mensaje</span>
    <textarea
      name="message"
      required
      class=""
      data-error="message"
      rows="4"
      cols="10"></textarea>
    <div
      class="empty-feedback invalid-feedback text-red-400 text-sm mt-1"
      data-error="message"
    >
      Please enter your message.
    </div>
  </label>
  <button type="submit" class="contact__submit">Enviar</button>
  <div id="result" class="text-center hidden"></div>
</form>

<style>
  .invalid-feedback,
  .empty-feedback {
    display: none;
    font-weight: 600;
    margin-top: 1rem;
  }

  .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
  }

  .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
  }

  .is-invalid,
  .was-validated :invalid {
    border-color: #dc3545;
  }

  .contact__form label {
    @apply flex flex-col;
  }
  :is(.contact__form) input,
  textarea,
  .contact__submit {
    font-size: 1em;
    font-weight: 600;
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--clr-background-2);
    border: var(--clr-border-2) 2px solid;
  }
  .contact__submit {
    align-self: flex-end;
    background-color: var(--clr-background-3);
  }
</style>

<script is:inline>
  const form = document.getElementById("form");
  const result = document.getElementById("result");

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    form.classList.add("was-validated");
    if (!form.checkValidity()) {
      form.querySelectorAll(":invalid")[0].focus();
      return;
    }
    const formData = new FormData(form);
    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    result.innerHTML = "Enviando...";

    console.log(json);

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.innerHTML = json.message;
        } else {
          console.log(response);
          result.classList.add("text-red-500");
          result.classList.remove("hidden");
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "UH UH... parece que algo no funciona.";
      })
      .then(function () {
        form.reset();
        form.classList.remove("was-validated");
        setTimeout(() => {
          result.style.display = "none";
        }, 5000);
      });
  });
</script>
