---
// data imports
import navData from "../Data/navData";

// import components
import DarkModeToggle from "../Components/DarkModeToggle.astro";
---

<nav class="nav" data-visible="false" aria-label="barra de navegacion">
  <ul class="nav__ul" aria-label="lista links de navegacion">
    {
      navData.map((link) => (
        <li class="nav__li">
          <a
            href={link.link}
            class="nav__links"
            aria-label={`Link hacia ${link.name}`}
          >
            {link.name}
          </a>
        </li>
      ))
    }
    <li class="nav__li mt-2">
      <DarkModeToggle />
    </li>
  </ul>
</nav>

<style lang="scss">
  .nav__ul {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }

  @media (width < 39.998em) {
    .nav {
      position: fixed;
      inset: 6rem 1rem auto 1rem;
      background-color: var(--clr-text-3);
      border: 2px solid var(--clr-border-2);
      border-radius: 2rem;
      box-shadow: 5px 6px var(--clr-box-shd);
      transform: translateX(-120%);
      transition: transform 0.24s ease-in;
    }

    .nav__ul {
      flex-flow: column;
      gap: 1rem;
      height: fit-content;
      align-items: start;
      justify-content: start;
      padding: min(5vh, 10rem) 1rem;
    }
    .nav__links {
      text-align: left;
      font-size: 2.5rem;
      border: 3px transparent solid;
      transition: all 0.2s linear;
    }
  }
  .nav[data-visible="true"] {
    transform: translateX(0);
  }

  .nav__li {
    position: relative;
  }
  .nav__links {
    color: var(--clr-text-1);
    text-align: center;
    border: 3px transparent solid;
    transition: all 0.2s linear;
  }
  .nav__links:is(:hover, :active) {
    border-bottom: 3px var(--clr-text-2) solid;
  }
</style>
