---
// data imports
import navData from "../Data/navData";
---

<nav class="nav" data-visible="false" aria-label="barra de navegación">
  <ul
    class="flex items-center justify-between"
    aria-label="lista links de navegación"
  >
    {
      navData.map((link) => (
        <li class="">
          <a
            href={link.link}
            class="px-2 py-1  capitalize text-inherit hover:bg-zinc-700 hover:text-zinc-400 rounded-full transition-all"
            aria-label={`Link hacia ${link.name}`}
          >
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .nav__ul {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .nav__li {
    position: relative;
    transition: all 240ms linear;
  }
  .nav__links {
    font-size: 1rem;
    color: var(--clr-text-1);
    text-align: center;
    border: 1px transparent solid;
  }
</style>
