---
import { Icon } from "astro-icon";

// data imports
import navData from "../Data/navData";

// import components
import DarkModeToggle from "../Components/DarkModeToggle.astro";
---

<nav class="nav" data-visible="false" aria-label="barra de navegacion">
  <ul class="nav__ul" aria-label="lista links de navegacion">
    {
      navData.map((link) => (
        <li class="nav__li">
          <a
            href={link.link}
            class="nav__links"
            aria-label={`Link hacia ${link.name}`}
          >
            {link.name}
          </a>
        </li>
      ))
    }
    <li class="nav__li mt-2">
      <DarkModeToggle />
    </li>
  </ul>
</nav>

<style lang="scss">
  .nav__ul {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .nav[data-visible="true"] {
    transform: translateX(0);
  }

  .nav__li {
    position: relative;
    transition: all 240ms linear;
  }
  .nav__links {
    font-size: 1rem;
    color: var(--clr-text-1);
    text-align: center;
    border: 1px transparent solid;
  }
  .nav__li:is(:hover, :active) {
    // border-bottom: 3px var(--clr-text-2) solid;
    // flex: 1;
    // transform: rotate(-15deg) translateY(-8px);
  }
</style>
