---
// import components
import ProjectCard from "../Components/ProjectCard.astro";
import Buttons from "./Buttons.astro";

// Props
interface Props {
  name: string;
  description?: string;
  link: string;
  github: string;
  imagesrc: string;
}

const { name, description, link, github, imagesrc } = Astro.props as Props;
---

<article
  id="project-display"
  class="relative isolate shadow-xl rounded-2xl flex flex-col align-top hover:shadow-2xl transition-all"
>
  <a href={link} target="_blank">
    <div class="article__text p-6 flex-2">
      <h3 id="proj-title" class="font-extrabold mb-2">{name}</h3>
      <p id="proj-desc" class="text-base">{description}</p>
    </div>
    <div class="article__imgage flex-1">
      <img src={imagesrc} alt="" class="w-full object-cover aspect-video" />
    </div>
  </a>
</article>

<style>
  article {
    background-color: var(--clr-text-3);
  }

  .article__imgage {
    position: relative;
    box-shadow: 0 -3px 2px var(--clr-box-shd);
    border-radius: 1.5rem;
    transform: translateY(50px);
    transition: transform 200ms ease-in-out;
  }

  article:hover .article__imgage {
    transform: translateY(20px);
  }
</style>
