---
interface Props {
  masonry?: boolean;
}

const anim = {
  old: {
    name: "moveToTop",
    duration: "0.2s",
    easing: "ease-in",
  },
  new: {
    name: "moveFromBottom",
    duration: "1s",
    easing: "ease-out",
    delay: "0.2s",
  },
};

const customTransition = {
  forwards: anim,
  backwards: anim,
};

const { masonry = false } = Astro.props;

const customClasses = masonry
  ? "masonry"
  : "grid grid-cols-1 md:grid-cols-2 gap-2";
---

<section
  id="projects"
  class={`box-component ${customClasses}`}
  aria-label="Proyectos"
  transition:animate={customTransition}
>
  <slot />
</section>

<style>
  .masonry {
    --gap: clamp(0.5rem, 2vw, 0.6rem);
    --columns-size: calc(var(--w-app) / 4);
    columns: var(--columns-size);
    columns: 400px;
    gap: var(--gap);
  }
  .masonry > * {
    break-inside: avoid;
    margin-bottom: var(--gap);
  }
</style>
