:root {
  --general-font: 'Monomaniac One', sans-serif;
  --secondary-font: 'Rubik', sans-serif;

  --secondary-color: hsl(32, 91%, 58%);
  --color-bg: hsl(199, 79%, 15%);
  --color-main: hsl(36, 100%, 95%);
  --Black-ish: hsl(0, 0%, 30%);
  --color-bg-elem: hsl(36, 33%, 41%);
  --color-bg-skills: #ffcc80;

  --header-footer-height: 4rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  /* outline: #ffcc80 0.5px solid; */
}

body {
  font-family: var(--secondary-font);
  background-color: var(--color-bg);
  width: min(100%, 90em);
  margin-inline: auto;
  overflow-x: hidden;
}

img,
video,
svg {
  max-width: 100%;
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0.5px solid transparent;
}

a,
a:visited,
a:active {
  text-decoration: none;
  /* color: hsl(0, 0%, 15%); */
}

h1, h2, h3, h4 {
  font-family: var(--general-font);
}

h1 {
  font-size: clamp(2rem, 1rem + 5vw, 4rem);
}
h2 {
  font-size: clamp(1.8rem, 1rem + 4vw, 2.8rem);
}
h3 {
  font-size: clamp(1.5rem, 1rem + 3.5vw, 1.8rem);
}
h4 {
  font-size: clamp(0.9rem, 1rem + 3vw, 1.3rem);
}
p {
  font-size: clamp(1rem, 1rem + 3.5vw, 1.6rem);
  line-height: 1.5;
}

/* ============================= */
/* ============================= */

.header,
.nav__ul,
.header__home {
  display: flex;
  align-items: center;
}

.header__home,
.nav,
.nav__ul,
.header__switch {
  padding: 0.5rem 1rem;
  color: var(--secondary-color);
  text-align: center;
  height: 100%;
}

.header__home,
.header__switch,
.nav__links {
  flex: 1;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.header {
  justify-content: space-between;
  border: 0 0 2px solid hsl(32, 91%, 58%) 0;
  font-size: 0.9rem;
  font-weight: 600;
  height: var(--header-footer-height);
}

.nav {
  flex: 2;
  background-color: transparent;
  border: transparent 4px solid;
  border-inline: 1px solid #f59b33;
}
.nav__ul {
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 39.9em) {
  .nav {
    position: fixed;
    inset: var(--header-footer-height) 0 auto 0;
    height: 10rem;
    /* z-index: 9998; */
    background-color: var(--color-bg);
    border: 2px solid var(--secondary-color);
    box-shadow: 5px 6px var(--Black-ish);
    transform: translateX(120%);
    transition: transform 0.24s ease-in;
  }

  .nav__ul {
    flex-flow: column;
    gap: 3rem;
    flex-wrap: wrap;
    padding: min(5vh, 10rem) 1rem;
  }
}
.nav[data-visible='true'] {
  transform: translateX(0);
}

.nav__mobile {
  width: 2.5rem;
  aspect-ratio: 1;
  z-index: 9999;
  background-color: var(--secondary-color);
  background-image: url('/images/icons/more.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.17s linear;
}
@media (min-width: 56.25em) {
  .nav__mobile {
    display: none;
  }
}
.nav__li {
  position: relative;
}
.nav__links {
  padding: 0.3rem;
  color: var(--secondary-color);
  text-align: center;
  border: 1.5px transparent solid;
  transition: all 0.2s linear;
}
.nav__links:is(:hover, :active) {
  border: 1.5px var(--secondary-color) solid;
  /* transform: translate(-3px, -3px); */
}

/* ============================= */
/* ============================= */

.cover,
.cover__text {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.cover {
  text-align: center;
  place-items: center;
}
.cover__image {
  width: 30.5rem;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: top;
}
.cover__text {
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  background-color: var(--color-bg);
  color: var(--secondary-color);
  border-top: solid var(--secondary-color) 2px;
  border-bottom: solid var(--secondary-color) 2px;
}

.cover__text--bottom {
  border: none;
}
.cover__links {
  font-size: 1.1rem;
  padding: 0.5rem;
  font-weight: bold;
  width: fit-content;
  transition: all 0.5s linear;
}
.cover__links--mail {
  color: var(--color-bg);
  background-color: var(--secondary-color);
}
.cover__links--mail:is(:hover, :active) {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 0 hsl(271, 90%, 45%);
  transition: all 0.2s linear;
}
.cover__links--nan {
  color: hsl(35, 85%, 80%);
}
.cover__links--nan:hover {
  text-decoration: underline;
}

/* ============================= */
/* ============================= */

.quick-links {
  display: grid;
  gap: 1rem;
  padding: 1rem 3rem;
  text-align: center;
}

.quick-links__h2{
  text-transform: capitalize;
  color: var(--color-bg);
  letter-spacing: 1.5px;
}
.quick-links__contenedor {
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
}
.quick-links__link {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--color-bg);
  background-color: var(--secondary-color);
  border: 3px var(--color-bg) solid;
  padding: 0.5rem 0;
  transition: all 0.2s ease;
}

.q-links:is(:hover, :active) {
  transform: translate(-3px, -3px);
  box-shadow: 3px 3px 0 var(--Black-ish);
}

/* ============================= */
/* ============================= */

.section-skills,
.section-skills__header,
.section-skills__container,
.section-skills__skills {
  display: grid;
  gap: 2rem;
}

.section-skills {
  background-color: var(--color-bg);
}
.section-skills__header {
  text-align: center;
  color: var(--secondary-color);
}

.section-skills__quote {
  padding-inline-start: 5rem;
}

.section-skills__container {
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
}

.section-skills__skills {
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
}
.section-skills__article {
  display: flex;
  background-color: rgb(195, 195, 195);
  flex-flow: column;
  gap: 1rem;
  border-radius: 15px;
  padding: 1rem;
  border: 3px solid var(--Black-ish);
}
#skills .skills-container__section img {
  width: 8rem;
  aspect-ratio: 1;
}
#skills .skills-container__section h3 {
  flex: 1;
  color: #111;
}
#skills .skills-container__section p {
  flex-grow: 1;
  flex: 2;
}
#skills .skills-container__section a {
  align-self: flex-end;
  color: #111;
}
#skills .skills-container .css {
  background: linear-gradient(140deg, grey, hsl(49, 100%, 50%));
  color: hsl(0, 24%, 93%);
  transition-delay: 300ms;
}
#skills .skills-container .js {
  background: hsl(49, 100%, 50%);
  transition-delay: 600ms;
}


.title-skills {
  margin-top: 2rem;
  gap: 0.5rem;
}
.title-skills span {
  font-size: 1rem;
}
.title-skills h2 {
  text-transform: uppercase;
  font-size: 2rem;
}

.skills-container__section h3 {
  font-size: 2rem;
  color: hsl(0, 25%, 95%);
}
.skills-container__section p {
  font-size: 1rem;
}
@media (max-width: 43.7485em) {
  .skills-container__section p {
    text-align: justify;
  }
}
.skills-container__section a {
  font-weight: bold;
  color: white;
}
.skills-container__section a:hover {
  text-decoration: underline;
}

/* ============================= */
/* ============================= */

.section-about,
.section-about__article,
.section-about__div {
  display: grid;
}

.section-about {
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  /* align-items: start; */
}

.section-about__article {
  padding: 2rem;
  gap: 1rem;
  border: 2px solid var(--secondary-color);
}

h2.projects-title {
  text-align: center;
  font-size: 3.5rem;
}

.project-container__links a {
  padding: 6px;
  background-color: transparent;
  color: var(--Black-ish);
  padding: 3px;
  border: var(--Black-ish) 3px solid;
  transition: all 0.2s linear;
}
.project-container__links a:is(:hover, :active) {
  border: 3px var(--Black-ish) solid;
  box-shadow: 3px 3px 0 var(--Black-ish);
  transform: translateY(6px);
}

.contact h2 {
  font-size: 2.4rem;
  text-transform: uppercase;
}
.contact .container-form__quote p {
  font-size: 1.2rem;
}
.contact .container-form__quote div {
  font-size: 1.2rem;
}
.contact .container-form__quote div span {
  color: grey;
}
.contact .container-form__quote div a {
  color: var(--Black-ish);
  text-decoration: underline;
}

.grid {
  display: grid;
}

.web-page-cont {
  border: 2px solid var(--secondary-color) 0;
  background-color: var(--color-main);
  overflow-x: hidden;
}



/*
  #toggle{
  text
  place-self: center;
  font-size: 2rem;
  padding: 1rem;
  background-color: #111;
  color: white;
  border: transparent;
}
*/

.projects-sect {
  margin-bottom: 3rem;
}
@media (min-width: 56.25em) {
  .projects-sect {
    grid-auto-flow: column;
    grid-auto-columns: 45%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 2rem;
  }
  .projects-sect > * {
    scroll-snap-align: start;
  }
}

.contact {
  grid-template-rows: auto 1fr;
  gap: 2rem;
  background-color: var(--color-bg-skills);
  padding: 1rem;
}
.contact .container-form {
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: 3rem;
}

.footer,
.footer__top,
.footer__bottom {
  display: grid;
}
.footer__top,
.footer__bottom {
  padding: 1rem;
}
.footer,
.footer__bottom {
  text-align: center;
  border-top: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.footer__top {
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
  gap: 2rem;
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.footer__link {
  color: var(--secondary-color);
  flex: 1;
  flex-basis: 3rem;
  flex-grow: 1;
}

.flex {
  display: flex;
}

.skills-container__section {
  flex-flow: column;
  background-color: var(--color-bg-skills);
  gap: 1rem;
  border-radius: 15px;
  padding: 1rem;
  border: 3px solid var(--Black-ish);
}
.skills-container__section > * {
  flex: 1;
}
.skills-container__section img {
  width: 40%;
}

.about-me .projects-sect {
  gap: 1rem;
}
.projects-sect .project-container {
  flex-flow: column;
  background-color: rgb(237, 235, 222);
  border: 4px solid black;
  width: min(100% - 1rem, 40rem);
  margin-inline: auto;
}
.projects-sect .project-container__header {
  padding: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid black;
}
.projects-sect .project-container__header .close-open {
  gap: 0.2rem;
  flex-basis: 3rem;
  flex-wrap: nowrap;
}
.projects-sect .project-container__header .close-open img {
  width: 20px;
}
.projects-sect .project-container .project-container__img {
  display: block;
  aspect-ratio: 16/6;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  width: 100%;
  flex: 1;
}
.projects-sect .project-container__info {
  padding: 1rem;
  flex-flow: column;
  gap: 1.5rem;
  flex: 1;
}
.projects-sect .project-container__links {
  padding: 1rem;
  flex: 1;
}

.container-form {
  padding: 0.5rem;
}
.container-form__quote {
  flex-flow: column;
  gap: 3rem;
}
.container-form__form {
  flex-flow: column;
  gap: 1rem;
}
.container-form__form input {
  border-radius: 20px;
  border: var(--Black-ish) 2px solid;
  box-shadow: 3px 6px 0 var(--Black-ish);
  padding: 0.5rem;
  font-size: 1rem;
}
.container-form__form button {
  align-self: flex-end;
  width: auto;
  padding: 1rem 1.5rem;
  cursor: pointer;
  background-color: var(--color-bg-skills);
  border: var(--Black-ish) 2px solid;
  box-shadow: 3px 6px 0 var(--Black-ish);
  border-radius: 20px;
  font-size: 1.3rem;
} 
