:root {
  /* --fnt-text-1: 'Monomaniac One', sans-serif; */
  --fnt-text-2: 'Rubik', sans-serif;

  --clr-text-1: hsl(31, 29%, 95%);
  --clr-text-2: hsl(267, 82%, 74%);
  --clr-text-3: hsl(0, 3%, 6%);
  --clr-background-1: hsl(199, 79%, 5%);
  --clr-background-2: hsl(165, 19%, 4%);
  --clr-background-3: #600bea;
  --clr-border: hsl(32, 100%, 94%);
  --clr-border-2: hsl(200, 13%, 98%);
  --clr-box-shd: hsla(214, 53%, 7%);

  /* --header-footer-height: 4rem; */
}

@media (prefers-color-scheme: dark) {
  .menu-img[data-dark='true'] {
    filter: invert(100%);
  }
  body.dark-mode {
    --clr-text-1: hsl(32, 91%, 8%);
    --clr-text-2: hsl(253, 78%, 57%);
    --clr-text-3: hsl(30, 0%, 98%);
    --clr-background-1: hsl(165, 74%, 65%);
    --clr-background-2: hsl(84, 38%, 94%);
    --clr-background-3: #b8ff70;
    --clr-border: hsl(32, 100%, 64%);
    --clr-border-2: #001e2d;
    --clr-box-shd: rgb(80, 80, 80);
  }
  body.dark-mode .menu-img[data-dark='true'] {
    filter: invert(0);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-text-1: hsl(32, 91%, 8%);
    --clr-text-2: hsl(253, 78%, 57%);
    --clr-text-3: hsl(30, 0%, 98%);
    --clr-background-1: hsl(165, 74%, 65%);
    --clr-background-2: hsl(84, 38%, 94%);
    --clr-background-3: hsl(90, 100%, 72%);
    --clr-border: hsl(32, 100%, 64%);
    --clr-border-2: hsl(201, 98%, 9%);
    --clr-box-shd: rgb(80, 80, 80);
  }
  body.dark-mode {
    --clr-text-1: hsl(31, 29%, 95%);
    --clr-text-2: hsl(267, 82%, 74%);
    --clr-text-3: hsl(0, 3%, 6%);
    --clr-background-1: hsl(199, 79%, 5%);
    --clr-background-2: hsl(165, 19%, 4%);
    --clr-background-3: hsl(263, 91%, 48%);
    --clr-border: hsl(32, 100%, 94%);
    --clr-border-2: hsl(200, 13%, 98%);
    --clr-box-shd: hsla(214, 53%, 7%);
  }
  body.dark-mode .menu-img[data-dark='true'] {
    filter: invert(100%);
  }
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  /* outline: grey solid; */
}

body {
  font-family: var(--fnt-text-2);
  background-color: var(--clr-background-2);
  color: var(--clr-text-1);
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

img,
video,
svg {
  max-width: 100%;
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0.5px solid transparent;
  font-size: clamp(1rem, 1.5vw, 1.1rem);
}

a,
a:visited,
a:active {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  letter-spacing: 1.25;
  text-wrap: balance;
  font-weight: 700 !important;
  line-height: 1.25;
}

h1 {
  font-size: clamp(3rem, 1rem + 4vw, 4.5rem) !important;
}
h2 {
  font-size: clamp(1.8rem, 1rem + 4vw, 2.8rem) !important;
  color: var(--clr-text-2);
}
h3 {
  font-size: clamp(1.5rem, 1rem + 3.5vw, 1.9rem) !important;
}
h4 {
  font-size: clamp(0.9rem, 1rem + 3vw, 1.3rem) !important;
}
p {
  font-size: clamp(1rem, 1rem + 2.5vw, 1.5rem);
  line-height: 1.5;
  text-wrap: balance;
}

.web-page-cont {
  border: 2px solid var(--secondary-color) 0;
  margin: 15vh 0;
  margin-inline: auto;
}

.projects,
.contact {
  padding: 10vh 0;
}
