:root {
  --fnt-text-1: 'Monomaniac One', sans-serif;
  --fnt-text-2: 'Rubik', sans-serif;

  --clr-text-1: hsl(32, 91%, 58%);
  --clr-text-2: hsl(198, 97%, 15%);
  --clr-text-3: hsl(32, 98%, 33%);
  --clr-background-1: hsl(199, 79%, 15%);
  --clr-background-2: hsl(35, 83%, 93%);
  --clr-background-3: hsl(198, 29%, 58%);
  --clr-border: hsl(32, 100%, 64%);
  --clr-border-2: hsl(201, 98%, 19%);
  --clr-box-shd: rgb(80, 80, 80);

  --header-footer-height: 4rem;
}

body.dark-mode {
  --clr-text-1: hsl(31, 79%, 58%);
  --clr-text-2: hsl(198, 97%, 95%);
  --clr-text-3: hsl(31, 27%, 78%);
  --clr-background-1: hsl(199, 79%, 5%);
  --clr-background-2: hsl(0, 0%, 23%);
  --clr-background-3: hsl(197, 42%, 16%);
  --clr-border: hsl(32, 100%, 94%);
  --clr-border-2: hsl(201, 98%, 89%);
  --clr-box-shd: hsla(214, 53%, 7%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fnt-text-2);
  background-color: var(--clr-background-1);
  width: min(100%, 90em);
  margin-inline: auto;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

img,
video,
svg {
  max-width: 100%;
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0.5px solid transparent;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

h1 {
  font-size: clamp(2rem, 1rem + 5vw, 4rem);
}
h2 {
  font-size: clamp(1.8rem, 1rem + 4vw, 2.8rem);
  text-transform: capitalize;
  letter-spacing: 1.5px;
}
h3 {
  font-size: clamp(1.5rem, 1rem + 3.5vw, 1.9rem);
}
h4 {
  font-size: clamp(0.9rem, 1rem + 3vw, 1.3rem);
}
p {
  font-size: clamp(1rem, 1rem + 2vw, 1.3rem);
  line-height: 1.5;
}

.web-page-cont {
  border: 2px solid var(--secondary-color) 0;
  background-color: var(--clr-background-2);
  overflow-x: hidden;
  border: solid 2px var(--clr-border);
}

/* ============================= */
/* ============================= */

.header,
.nav__ul,
.header__home {
  display: flex;
  align-items: center;
}

.header__home,
.nav,
.nav__ul,
.header__switch {
  padding: 0.5rem 1rem;
  text-align: center;
  height: 100%;
}

.header__home,
.header__switch,
.nav__links {
  flex: 1;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--clr-text-1);
}

.header {
  justify-content: space-between;
  border-block-start: 2px solid var(--clr-border);
  border-inline: 2px solid var(--clr-border);
  font-size: 0.9rem;
  font-weight: 600;
  /* height: var(--header-footer-height); */
}

.nav {
  flex: 2;
  background-color: transparent;
  border: transparent 4px solid;
  border-inline: 1px solid var(--clr-border);
}
.nav__ul {
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 39.9em) {
  .nav {
    position: fixed;
    inset: var(--header-footer-height) 0 auto 0;
    height: 10rem;
    background-color: var(--clr-background-1);
    border: 2px solid var(--clr-border);
    box-shadow: 5px 6px var(--clr-box-shd);
    transform: translateX(120%);
    transition: transform 0.24s ease-in;
  }

  .nav__ul {
    flex-flow: column;
    gap: 3rem;
    flex-wrap: wrap;
    padding: min(5vh, 10rem) 1rem;
  }
}
.nav[data-visible='true'] {
  transform: translateX(0);
}

.nav__mobile {
  width: 2.5rem;
  aspect-ratio: 1;
  z-index: 9999;
  background-color: var(--clr-text-1);
  background-image: url('/images/icons/more.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.17s linear;
}
@media (min-width: 40em) {
  .nav__mobile {
    display: none;
  }
}
.nav__li {
  position: relative;
}
.nav__links {
  padding: 0.3rem;
  color: var(--clr-text-1);
  text-align: center;
  border: 1.5px transparent solid;
  transition: all 0.2s linear;
}
.nav__links:is(:hover, :active) {
  border: 1.5px var(--clr-border) solid;
}

/* ============================= */
/* ============================= */
/* ============================= */

.cover,
.cover__text {
  display: flex;
}

.cover__text,
.cover__image {
  flex-basis: 20em;
  flex-grow: 1;
}

.cover {
  flex-wrap: wrap-reverse;
  text-align: center;
  border-block: solid 2px var(--clr-border);
}
.cover__image {
  width: 20.5rem;
  aspect-ratio: 1;
  object-fit: contain;
}
.cover__text {
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-inline: 2vw;
  background-color: var(--clr-background-1);
  color: var(--clr-text-1);
  border-inline-start: solid 2px var(--clr-border);
}

.cover__p {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}

.cover__text--bottom {
  border: none;
}
.cover__links {
  font-size: 1.1rem;
  padding: 0.5rem;
  font-weight: bold;
  width: fit-content;
  transition: all 0.5s linear;
  color: var(--clr-background-1);
  background-color: var(--clr-text-1);
}
.cover__links--mail:is(:hover, :active) {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 0 var(--clr-border);
  transition: all 0.2s linear;
}

/* ============================= */
/* ============================= */
/* ============================= */

.quick-links,
.quick-links__contenedor {
  display: grid;
  gap: 1rem;
}

.quick-links {
  padding: 10vh 5vw;
  text-align: center;
  /* border-block-end: solid 2px var(--clr-border); */
  background-color: var(--clr-background-1);
}

.quick-links__h2 {
  color: var(--clr-text-1);
}
.quick-links__contenedor {
  grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
}
.quick-links__link {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--clr-text-2);
  background-color: var(--clr-background-2);
  border: 3px var(--clr-border) solid;
  padding: 0.5rem 0;
  transition: all 0.2s ease;
}

.q-links:is(:hover, :active) {
  transform: translate(-3px, -3px);
  box-shadow: 3px 3px 0 var(--clr-box-shd);
}

/* ============================= */
/* ============================= */
/* ============================= */

.section-skills,
.section-skills__header,
.section-skills__container,
.section-skills__skills {
  display: grid;
  gap: 1rem;
  color: var(--clr-text-1);
}

.section-skills__text,
.section-skills__article {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.section-skills {
  background-color: var(--clr-background-1);
}
.section-skills__header {
  text-align: center;
  text-transform: capitalize;
}

.section-skills__quote {
  padding: 3vw;
  color: var(--clr-text-2);
  background-color: var(--clr-background-2);
  border-block: 2px solid var(--clr-border);
}

.section-skills__container {
  grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
  padding: 2rem;
  border-bottom: 2px solid var(--clr-border);
}

.section-skills__skills {
  grid-template-columns: repeat(auto-fit, minmax(min(13rem, 100%), 1fr));
}

.section-skills__article {
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--clr-background-2);
  color: var(--clr-text-2);
  border: 2px solid var(--clr-border);
}
.section-skills__image {
  width: 4rem;
  aspect-ratio: 1;
}
.section-skills__p {
  font-size: 1rem;
}

/* ============================= */
/* ============================= */
/* ============================= */

.section-about,
.section-about__article,
.section-about__div {
  display: grid;
}

.section-about {
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  color: var(--clr-text-2);
}

.section-about__article {
  padding: 2rem;
  gap: 1rem;
  border: 2px solid var(--clr-border);
}

/* ================================= */
/* ================================= */
/* ================================= */

.projects,
.projects__article,
.projects__link {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  color: var(--clr-text-2);
}

.projects {
  align-items: center;
  text-align: center;
  margin-block: 3rem;
}

.projects__wrap {
  display: grid;
  gap: 2rem;
  grid-auto-flow: row;
  grid-auto-rows: 25%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding: 2rem;
  scrollbar-width: none;
}
@media (min-width: 40em) {
  .projects__wrap {
    grid-auto-flow: column;
    grid-auto-columns: 45%;
    overflow-x: scroll;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.projects__wrap::-webkit-scrollbar {
  display: none;
}

.projects__wrap > * {
  scroll-snap-align: start;
}
.projects__link {
  border: 2px solid var(--clr-border-2);
  background-color: var(--clr-background-3);
  position: relative;
  transition: all 0.15s ease;
}
.projects__image {
  aspect-ratio: 16/9;
  object-fit: cover;
}
.projects__link:is(:hover, :active) {
  box-shadow: 3px 3px 0 var(--clr-box-shd);
  transform: translate(-3px, -3px);
}
.projects__p {
  padding: 1vh 5vw;
  font-size: 1rem;
  color: var(--clr-text-2);
}

/* ================================= */
/* ================================= */
/* ================================= */

.contact__text,
.contact__form {
  display: flex;
  flex-direction: column;
  padding: 0 2vw;
  gap: 1rem;
  color: var(--clr-text-2);
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
  background-color: var(--clr-background-3);
  border-top: 2px solid var(--clr-border);
}

.contact__form input {
  border-radius: 20px;
  border: var(--clr-border-2) 2px solid;
  box-shadow: 3px 6px 0 var(--clr-box-shd);
  padding: 0.5rem;
  font-size: 1rem;
}
.contact__submit {
  align-self: flex-end;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  width: fit-content;
  padding: 0.8rem 1rem;
  color: var(--clr-text-2);
  background-color: var(--clr-background-2);
  border: var(--clr-border-2) 2px solid;
  box-shadow: 3px 6px 0 var(--clr-box-shd);
  border-radius: 20px;
}

.projects,
.contact {
  padding: 10vh 3vw;
}

/* ================================= */
/* ================================= */
/* ================================= */

.footer,
.footer__top,
.footer__bottom {
  display: grid;
}
.footer__top,
.footer__bottom {
  padding: 1rem;
}
.footer,
.footer__bottom {
  text-align: center;
  /* border-top: 2px solid var(--clr-border); */
  color: var(--clr-text-1);
}

.footer__top {
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
  gap: 2rem;
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.footer__link {
  color: var(--clr-text-1);
  flex: 1;
  flex-basis: 3rem;
  flex-grow: 1;
}

/* ================================= */
/* ================================= */
/* ================================= */

.loader {
  position: fixed;
  inset: 0;
  background-color: var(--clr-background-2);
  z-index: 99999;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-text-2);
}

.loaded {
  display: none;
}

.line-wobble {
  --uib-size: 80px;
  --uib-speed: 1.75s;
  --uib-color: var(--clr-text-1);
  --uib-line-weight: 5px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-line-weight);
  width: var(--uib-size);
  border-radius: calc(var(--uib-line-weight) / 2);
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.line-wobble::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--uib-color);
  opacity: 0.1;
}

.line-wobble::after {
  content: '';
  height: 100%;
  width: 100%;
  border-radius: calc(var(--uib-line-weight) / 2);
  animation: wobble var(--uib-speed) ease-in-out infinite;
  transform: translateX(-95%);
  background-color: var(--uib-color);
}

@keyframes wobble {
  0%,
  100% {
    transform: translateX(-95%);
  }
  50% {
    transform: translateX(95%);
  }
}

/* ================================= */
/* ================================= */
/* ================================= */

.thoughts,
.thoughts__div {
  display: grid;
  background-color: var(--clr-background-1);
}

.thoughts {
  position: relative;
  grid-template-columns: min(15%, 20em) 1fr;
  border-block: solid 2px var(--clr-border);
}

.thoughts::before {
  content: '';
  position: relative;
  display: block;
  background-color: var(--clr-background-1);
  background-image: repeating-linear-gradient(
      to right,
      transparent,
      transparent 20px,
      var(--clr-border) 20px,
      var(--clr-border) 21px /* determines size */
    ),
    repeating-linear-gradient(
      to top,
      transparent,
      transparent 20px,
      var(--clr-border) 20px,
      var(--clr-border) 21px /* determines size */
    );
  background-size: 100% 100%, 100% 100%, 350px auto;
}

.thoughts__h2 {
  display: flex;
  align-items: baseline;
  color: var(--clr-text-1);
  font-size: 1.5rem;
}

.thoughts__h2::after {
  content: '';
  flex: 1;
  height: 2px;
  display: block;
  background-color: var(--clr-background-3);
}
.thoughts__div {
  padding: calc(1rem * 2) 3rem;
  border-inline: solid 1px var(--clr-border);
  gap: 1rem;
}

.thoughts__a {
  width: fit-content;
  text-decoration: underline;
  text-decoration-color: var(--clr-text-1);
  text-decoration-thickness: 0.8px;
  line-height: 1.25;
  font-size: 1.2rem;
  color: var(--clr-text-1);
}

/* ================================= */
/* ================================= */
/* ================================= */

.blog-hdr,
.blog-section,
.blog-section__content {
  color: var(--clr-text-3);
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.blog-hdr {
  text-align: center;
  margin-bottom: 3rem;
  border-bottom: 2px solid var(--clr-border);
  padding: 3vh 2.5vw;
}
s .blog-section__content {
  width: min(100%, 40em);
  margin-inline: auto;
}
