---
//import components

import Nav from "../Components/Nav.astro";
---

<header class="flex">
  <!--* LOGO contenedor *-->
  <a href="/" class="logo-container" aria-label="Go Home">
    yefree Valdez
  </a>
  <!--* BARRA DE NAVEGACIÓN *--> 
  <Nav/>
</header>