---
//import components

import Nav from '../Components/Nav.astro';
---

<header class="header">
  <!--* LOGO contenedor *-->
  <div class="header__home">
    <a href="/" class="nav__links" aria-label="Go Home"> yefree Valdez</a>
  </div>
  <!--* BARRA DE NAVEGACIÓN *-->
  <Nav />
  <button id="dark-light" type="button" class="header__switch">
    <span id="mode" data-mode="dark">Dark</span> mode
  </button>
</header>

<style lang="scss" is:global>
  /* ============================= */
  /* ============================= */
  .header,
  .nav__ul,
  .header__home {
    display: flex;
  }

  .header__home,
  .nav,
  .nav__ul,
  .header__switch {
    padding: 0.5rem 1rem;
    // text-align: center;
    height: 100%;
  }

  .header__home,
  .header__switch,
  .nav__links {
    flex: 1;
    text-transform: capitalize;
    font-weight: 600;
    // font-size: 1.1rem;
    color: var(--clr-text-1);
  }

  .header {
    align-items: center;
    z-index: 9999;
    justify-content: space-between;
    position: fixed;
    inset: 5px 20px auto 20px;
    border-radius: 1rem;
    border: solid 2px var(--clr-border-2);
    box-shadow: 4px 4px 0 var(--clr-border-2);
    background-color: var(--clr-background-2);
    padding: 0.5rem 0;
  }
</style>
