---
// import Layouts
import MainLayout from './MainLayout.astro';

// import utils
import { formatDate, formatDateMonth } from '../js/functions';

// drontmatter
const { frontmatter } = Astro.props;

const { title, date, image } = frontmatter;
---

<MainLayout>
  <header class="blog-hdr">
    <h1 class="blog-hdr__h1">{title}</h1>
    <span class="blog-hdr__date">{formatDateMonth(date)}</span>
  </header>
  <section class="blog-section">
    <div class="blog-section__content">
      <slot />
    </div>
    <a class="btn principal" href="/memorias/">Todas las memorias</a>
  </section>
</MainLayout>

<style lang="scss">
  .blog-hdr,
  .blog-section,
  .blog-section__content {
    color: var(--clr-text-1);
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 2vh 3vw;
  }
  .blog-hdr {
    border-bottom: 2px solid var(--clr-border-2);
    padding: 3vh 2.5vw;
    @media (width > 40em) {
      text-align: center;
    }
  }
  .blog-section__content {
    width: min(100%, 90ch);
    margin-inline: auto;
  }
</style>
