---
// import styles
import '../styles/globals.css';

// import components
import MainHead from './MainHead.astro';
import Footer from './MainFooter.astro';
import Header from './MainHeader.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html>
  <MainHead {title} />
  <body class="">
    <div class="loader">
      <p>Wait just 1 second</p>
      <div class="line-wobble"></div>
    </div>
    <Header />
    <div class="web-page-cont grid">
      <slot />
    </div>
    <Footer />
  </body>
</html>
