---
//import components

import Nav from '../Components/Nav.astro';
---

<header class="header">
  <!--* LOGO contenedor *-->
  <div class="header__home">
    <a href="/" class="nav__links" aria-label="Go Home"> yefree Valdez</a>
  </div>
  <!--* BARRA DE NAVEGACIÓN *-->
  <Nav />
  <button id="dark-light" type="button" class="header__switch">
    <span id="mode" data-mode="dark">Light</span> mode
  </button>
</header>
