---
import Buttons from '../Components/Buttons.astro';
import footerLinks from '../Data/footerDataLinks';
import socialLinks from '../Data/footerDataSocials';
---

<footer class="footer">
  <div class="footer__top">
    <div class="footer__links">
      {
        footerLinks.map((link) => (
          <Buttons
            width="full"
            link={link.link}
            size="sm"
            classes="footer__link"
          >
            {link.name}
          </Buttons>
        ))
      }
    </div>
    <div class="footer__links footer__links--right">
      {
        socialLinks.map((link) => (
          <Buttons link={link.link} size="sm" classes="footer__link">
            {link.name}
          </Buttons>
        ))
      }
    </div>
  </div>
  <div class="footer__bottom">
    <small class="footer__p">
      • Made by Yefree | copyright &copy; <span id="year"></span> | All right reserved
      •
    </small>
  </div>
</footer>

<style is:global>
  .footer,
  .footer__top,
  .footer__bottom {
    display: grid;
  }
  .footer__top,
  .footer__bottom {
    padding: 1rem;
  }
  .footer,
  .footer__bottom {
    text-align: center;
    color: var(--clr-text-1);
  }

  .footer__top {
    border-top: 2px solid var(--clr-border-2);
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    gap: 2rem;
  }
  .footer__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    gap: 1rem;
  }

  .footer__link {
    font-size: clamp(0.5rem, 1.5vw, 1.1rem);
    color: var(--clr-text-1);
    flex-basis: 3rem;
  }
</style>

<script defer>
  document.querySelector('#year').textContent = new Date()
    .getFullYear()
    .toString();
</script>
