---
//import components

import Nav from "../Components/Nav.astro";
---

<header class="header">
  <!--* LOGO contenedor *-->
  <a href="/" class="header__home" aria-label="Go Home">
    yefree Valdez
  </a>
  <!--* BARRA DE NAVEGACIÓN *--> 
  <Nav/>
  <button id="dark-light" type="button" class="header__switch">
    Light mode.
  </button>
</header>