---
// import lauouts
import MainLayout from "../../Layout/MainLayout.astro";

// import components
import Buttons from "../../Components/Buttons.astro";

import { formatDate } from "../../utils/functions";
import { calculateTimeAgo } from "../../utils/functions";
import Cover from "../../Components/Cover.astro";

const allPost = await Astro.glob("./*.md");

const reversedPosts = allPost.reverse();
---

<MainLayout title="Diario - Yefree">
  <Cover coverTitle="Ciao 📨" description="En construcción... Coming Soon." />
  <!-- <section class="thoughts" aria-label="Articulos memorias">
    <h1 class="thoughts__title">Mis publicaciones</h1>
    <p class="my-8">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint magnam
      possimus, ea dolores reiciendis quasi rem nesciunt distinctio unde! Libero
      eveniet aperiam quo repudiandae.
    </p>
    {
      reversedPosts.map((post) => (
        <div class="flex flex-col gap-4 hover:text-[var(--clr-accent)] hover:underline transition-all">
          <span class="font-bold">
            {calculateTimeAgo(post.frontmatter.date)}
          </span>
          <a class="text-xl font-black" href={post.url}>
            {post.frontmatter.title}
          </a>
        </div>
      ))
    }
  </section> -->
</MainLayout>

<style lang="scss">
  .thoughts {
    width: min(100%, 80ch);
    display: grid;
    position: relative;
    gap: 1.5rem;
    padding: 0 5vw;
  }

  .thoughts__title {
    color: var(--clr-text-2);
    font-weight: 900;
  }
</style>
