---
// import lauouts
import MainLayout from '../../Layout/MainLayout.astro';

// import components
import Cover from '../../Components/Cover.astro';
import QuickLinks from '../../Components/Quick-links.astro';

const allPost = await Astro.glob('./*.md');
---

<MainLayout title="Memorias - Yefree">
  <Cover
    coverTitle="Memorias"
    description="Todos mis pensamientos y experienzas plasmadas en esta seccion sobre desarrollo web"
    coverImage="/images/hero-images/thoughts-hero.PNG"
  />
  <QuickLinks />
  <section class="thoughts" aria-label="Articulos memorias">
    <div class="thoughts__div">
      <h2 class="thoughts__h2">2023</h2>
      {
        allPost.map((post) => (
          <a class="thoughts__a" href={post.url}>
            {post.frontmatter.title}
          </a>
        ))
      }
    </div>
  </section>
</MainLayout>
