---
// import lauouts
import MainLayout from '../../Layout/MainLayout.astro';

// import components
import Cover from '../../Components/Cover.astro';
import QuickLinks from '../../Components/Quick-links.astro';

const allPost = await Astro.glob('./*.md');
---

<MainLayout title="Memorias - Yefree">
  <Cover
    coverTitle="Memorias"
    description="Todos mis pensamientos y experienzas plasmadas en esta seccion sobre desarrollo web"
    coverImage="/images/hero-images/thoughts-hero.webp"
  />
  <section class="thoughts" aria-label="Articulos memorias">
    <div class="thoughts__div">
      <h2 class="thoughts__h2">2023</h2>
      {
        allPost.map((post) => (
          <a class="thoughts__a btn" href={post.url}>
            {post.frontmatter.title}
          </a>
        ))
      }
    </div>
  </section>
</MainLayout>

<style lang="scss">
  .thoughts,
  .thoughts__div {
    display: grid;
    background-color: var(--clr-background-2);
  }

  .thoughts {
    position: relative;
    grid-template-columns: min(15%, 20em) 1fr;
    border: solid 2px var(--clr-border-2);
  }

  .thoughts::before {
    content: '';
    position: relative;
    display: block;
    background-color: var(--clr-background-3);
    background-image: repeating-linear-gradient(
        to right,
        transparent,
        transparent 20px,
        var(--clr-border-2) 20px,
        var(--clr-border-2) 21px /* determines size */
      ),
      repeating-linear-gradient(
        to top,
        transparent,
        transparent 20px,
        var(--clr-border-2) 20px,
        var(--clr-border-2) 21px /* determines size */
      );
    background-size: 100% 100%, 100% 100%, 350px auto;
  }
  .thoughts__h2 {
    display: flex;
    align-items: baseline;
    color: var(--clr-text-2);
    font-size: 1.5rem;
  }

  .thoughts__h2::after {
    content: '';
    flex: 1;
    height: 2px;
    display: block;
    background-color: var(--clr-border-2);
  }
  .thoughts__div {
    padding: calc(1rem * 2) 3rem;
    outline: 1px var(--clr-border-2);
    gap: 1rem;
  }
</style>
