---
import { Image } from "astro:assets";

interface Props {
  imagen: string;
  date: string;
  title: string;
  customHeight?: string;
}

const { imagen, date, title, customHeight = "auto" } = Astro.props;
---

<div class="pb-4">
  <Image
    width="10"
    height="10"
    src={imagen}
    style={{ height: customHeight }}
    class="w-full h-[420px] object-cover object-center overflow-hidden rounded-xl"
    decoding="async"
    loading="lazy"
    alt="Modern Concept Hero"
  />

  <!-- <img src={imagen} alt="cosas" /> -->
</div>
