---
// import components
import Buttons from "../Components/Buttons.astro";
// import info
import footerLinks from "../Data/footerDataLinks";
import socialLinks from "../Data/footerDataSocials";
---

<footer class="box-component cover">
  <h2 class="text-xl font-bold">Fue un placer, ten un buen día 🍱</h2>
  <div class="flex flex-col gap-4 py-4">
    <div class="flex items-center justify-end gap-2">
      {
        footerLinks.map((link) => (
          <Buttons link={link.link} size="sm" classes="footer__link">
            {link.name}
          </Buttons>
        ))
      }
    </div>
    <div class="flex items-center justify-start gap-2">
      {
        socialLinks.map((link) => (
          <Buttons link={link.link} size="sm">
            {link.name}
          </Buttons>
        ))
      }
    </div>
  </div>
  <div
    class="p-4 border-t border-zinc-300 text-zinc-500 flex justify-between items-end"
  >
    <p class="text-sm">
      &copy; <span id="year"></span> All right reserved
    </p>
    <p class="text-sm">
      <a
        href="https://github.com/yefreescoding/portfolio-website"
        target="_blank"
        class="text-inherit">Made by Yefree</a
      >
      <span class="italic"> in Dominican Republic</span>
    </p>
  </div>
</footer>

<style is:global></style>

<script is:inline>
  document.querySelector("#year").textContent = new Date()
    .getFullYear()
    .toString();
</script>
