---
// Astro importd
import { Image } from "astro:assets";

//import components
import Nav from "../Components/Nav.astro";
import MobileNav from "../Components/MobileNav.astro";

// images
const subjectImage = "/images/hero-images/Subject.jpg";
const iconVerify = "/images/icons/verify.png";
---

<header class="header" aria-label="Cabecera de la pagina">
  <div class="header__home" aria-label="Logo de la pagina">
    <Image
      src={subjectImage}
      alt="Mi foto"
      width="10"
      height="10"
      class="w-12 h-12 rounded-full shadow-sm object-cover"
      decoding="async"
      loading="lazy"
    />
    <a href="/" class="nav__links" aria-label="Link para vlver al inicio">
      yefree Valdez</a
    >
    <Image
      src={iconVerify}
      alt="Icon twitter"
      width="10"
      height="10"
      class="w-6 h-6 rounded-full shadow-sm object-cover"
      decoding="async"
      loading="lazy"
    />
  </div>
  <MobileNav>
    <Nav />
    <button
      id="mobile-menu"
      class="nav__mobile"
      aria-label="Boton despliega menu moviles"
    >
      <img
        class="menu-img"
        data-dark="true"
        src="/images/icons/more.avif"
        alt="icon-menu"
      />
    </button>
  </MobileNav>
</header>

<style lang="scss" is:global>
  .header,
  .nav__ul,
  .header__home {
    display: flex;
  }

  .header__switch,
  .nav__links {
    text-transform: capitalize;
    font-weight: 600;
    color: var(--clr-text-1);
  }

  .header {
    align-items: center;
    z-index: 9999;
    justify-content: space-between;
    position: fixed;
    inset: 5px 20px auto 20px;
    border-radius: 1rem;
    border: solid 2px var(--clr-border-2);
    box-shadow: 4px 4px 0 var(--clr-border-2);
    background-color: var(--clr-text-3);
    padding: 1rem;
    &__home {
      @apply items-center gap-2;
    }
  }

  .nav__mobile {
    isolation: isolate;
    width: 3rem;
    border-radius: 0.3rem;
    padding: 5px;
    aspect-ratio: 1;
    z-index: 9999;
    background-color: transparent;
    transition: all 0.17s linear;
    img {
      z-index: -1;
      width: 100%;
      &[data-dark="false"] {
        filter: invert(100%);
      }
    }
    @media (min-width: 53.4375em) {
      display: none;
    }
  }
</style>
