---
// import Layouts
import MainLayout from "./MainLayout.astro";
import Buttons from "../Components/Buttons.astro";

// import utils
import { formatDateMonth } from "../utils/functions";

// drontmatter
const { frontmatter } = Astro.props;

const { title, date } = frontmatter;
---

<MainLayout>
  <header class="blog-hdr">
    <h1>{title}</h1>
    <span class="blog-hdr__date">Posted on {formatDateMonth(date)}</span>
  </header>
  <section class="blog-section">
    <div class="blog-section__content">
      <slot />
    </div>
    <Buttons
      width="fit"
      link="/memorias/"
      size="sm"
      classes=""
      isFilled
      target="_self"
    >
      Todas las entradas
    </Buttons>
  </section>
</MainLayout>

<style lang="scss">
  .blog-hdr,
  .blog-section,
  .blog-section__content {
    color: var(--clr-text-1);
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 2vh 3vw;
  }
  .blog-hdr {
    border-bottom: 1px solid var(--clr-border-2);
    padding: 3vh 2.5vw;
    background-color: var(--clr-text-3);
  }
  .blog-section__content {
    width: min(100%, 80ch);
    margin-inline: auto;
  }
</style>
