---
// import styles
import "../styles/globals.css";

// import components
import MainHead from "./MainHead.astro";
import Footer from "./MainFooter.astro";
import Header from "./MainHeader.astro";
// import Loader from './Loader.astro';

const { subtitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <MainHead {subtitle} />
  <body class="relative bg-[#E6E6E6]">
    <!-- <Loader /> -->
    <Header />
    <main class="web-page-cont grid">
      <slot />
    </main>
    <Footer />
    <style is:global>
      :root {
        --base-color: hsl(0, 0%, 96%);
        --bgk-color: hsl(0, 0%, 96%);

        --w-app: min(100% - 2rem, 80em);
      }

      .box-component {
        width: var(--w-app);
        margin-inline: auto;
        margin-block: 0.2rem;

        &.cover {
          padding: 1.5rem;
          background-color: var(--base-color);
          box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
          border-radius: 1rem;
        }
      }
    </style>
  </body>
</html>
