---
import { ClientRouter, slide } from "astro:transitions";
// import styles
import "../styles/globals.css";

// import components
import MainHead from "./MainHead.astro";
import Footer from "./MainFooter.astro";
import Header from "./MainHeader.astro";
// import Loader from './Loader.astro';

const { subtitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="es" transition:name="root" transition:animate="none">
  <ClientRouter />
  <MainHead {subtitle} />
  <script>
    import gsap from "gsap";

    // document.addEventListener("DOMContentLoaded", () => {
    //   gsap.from(".web-page-cont", { opacity: 0, y: 50, duration: 1 });
    // });

    // document.querySelectorAll("a").forEach((link) => {
    //   link.addEventListener("click", (e) => {
    //     e.preventDefault(); // Prevent default navigation

    //     const target = link.href;

    //     gsap.to(".web-page-cont", {
    //       opacity: 0,
    //       y: -100,
    //       duration: 0.2,
    //       onComplete: () => {
    //         window.location.href = target; // Navigate after animation
    //       },
    //     });
    //   });
    // });
  </script>
  <body class="">
    <Header transition:animate="none" />
    <main class="web-page-cont grid">
      <slot />
    </main>
    <Footer />
    <style is:global>
      :root {
        --base-color: hsl(0, 0%, 96%);
        --bgk-color: hsl(0, 0%, 91%);

        --w-app: min(100% - 2rem, 80em);
      }

      body {
        position: relative;
        background-color: var(--bgk-color);
        margin-bottom: 5vh;
      }

      .box-component {
        width: var(--w-app);
        margin-inline: auto;
        margin-block: 0.2rem;

        &.cover {
          padding: 2rem 1.5rem;
          background-color: var(--base-color);
          box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
          border-radius: 1rem;
        }
      }

      @-webkit-keyframes moveToTop {
        from {
        }
        to {
          opacity: 0;
          -webkit-transform: translateY(-100%);
        }
      }
      @keyframes moveToTop {
        from {
        }
        to {
          opacity: 0;
          -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
        }
      }
      @-webkit-keyframes moveFromBottom {
        from {
          opacity: 0;
          -webkit-transform: translateY(100%);
          transform: translateY(100%);
        }

        to {
          opacity: 1;
        }
      }
      @keyframes moveFromBottom {
        from {
          opacity: 0;
          -webkit-transform: translateY(100%) rotateX(15deg);
          transform: translateY(100%) rotateX(15deg);
        }
        to {
          opacity: 1;
        }
      }
    </style>
  </body>
</html>
