---
//import components
import Nav from "../Components/Nav.astro";
import MiniMusicPlayer from "../Components/ui/MiniMusicPlayer.tsx";
---

<script>
  const header = document.querySelector(".header");
  const musicToggle = document.querySelector("#music-toggle");
  const musicComp = document.querySelector("#div-music");
  let hidden = false;

  musicToggle.addEventListener("click", () => {
    hidden = !hidden;
    header.setAttribute("aria-expanded", `${hidden}`);
    musicComp.setAttribute("aria-hidden", `${!hidden}`);
    musicToggle.setAttribute("aria-controls", `${hidden ? "open" : "closed"}`);
    musicToggle.classList.toggle(`w-5`);
    console.log(hidden);
  });
</script>

<header
  class="header flex flex-col items-center gap-4"
  aria-label="Cabecera de la pagina"
  aria-expanded="false"
>
  <div class="w-full flex items-center gap-2">
    <Nav />
    <button
      type="button"
      id="music-toggle"
      class="ml-auto cursor-pointer aspect-square w-4 rounded-full transition-all"
      aria-controls="closed"
      aria-label="Toggle music"
    >
    </button>
  </div>
  <div id="div-music" aria-hidden="true">
    <MiniMusicPlayer client:load />
  </div>
</header>

<style is:global>
  .header {
    --_bgk-color: hsl(0, 0%, 10%);
    --_text-color: #f5f5f5;
    --_padding: 0.5rem;
    --_h-open: 196px;
    --_h-closed: 42px;
    --_w-open: 313px;
    --_w-closed: 280px;
    --_rounded: 2rem;

    z-index: 9999;
    position: fixed;
    top: 1rem;
    right: 1rem;
    overflow: hidden;

    width: var(--_w-closed);
    height: var(--_h-closed);
    padding: var(--_padding) calc(var(--_padding) * 1.3);

    border: solid 1px transparent;
    border-radius: var(--_rounded);
    background-color: var(--_bgk-color);
    color: var(--_text-color);

    transition: width 200ms ease-in-out, height 200ms ease,
      border-radius 150ms linear;

    &[aria-expanded="true"] {
      --_rounded: 1rem;
      height: var(--_h-open);
      width: var(--_w-open);
    }

    #music-toggle {
      background-color: hsl(120, 100%, 70%);
      &[aria-controls="open"] {
        background-color: hsl(0, 100%, 70%);
      }
    }

    #div-music {
      visibility: visible;
      opacity: 1;
      filter: blur(0px);
      transition: opacity 220ms ease-in-out, filter 220ms linear;

      &[aria-hidden="true"] {
        visibility: hidden;
        opacity: 0;
        filter: blur(10px);
      }
    }
  }
</style>
